<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <button ng-click="myFunction()">Click Me!</button>

        <p>{{ count }}</p>

    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.count = 0;
            $scope.myFunction = function() {
                $scope.count++;
            }
        });

    </script>

</body>

</html>
