<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <h1 ng-mousemove="myFunc($event)">Mouse Over Me!</h1>

        <p>Coordinates: {{x + ', ' + y}}</p>

    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.myFunc = function(myE) {
                $scope.x = myE.clientX;
                $scope.y = myE.clientY;
            }
        });

    </script>

    <p>Mouse over the heading to display the value of clientX and clientY from the event object.</p>

</body>

</html>
