<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<!--Il faut annoncer ng-app en premier-->
<div ng-app="">
  <p>My first expression: {{ 5 + 5 }} </p>
</div>

</body>
</html>