<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="" ng-init="quantity=1;cost=5">

        <p>Total in dollar: {{ quantity * cost }}</p>

    </div>
</body>

</html>
