<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="" ng-init="firstName='John';lastName='Doe'">

        <p>The name is {{ firstName + " " + lastName }}</p>

    </div>
</body>

</html>
