<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="myApp" ng-controller="personCtrl">

        <p>The name is {{ lastName | uppercase }}</p>

    </div>

    <script>
        angular.module('myApp', []).controller('personCtrl', function($scope) {
            $scope.firstName = "John",
                $scope.lastName = "Doe"
        });

    </script>

</body>

</html>
