<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="myApp" ng-controller="namesCtrl">

        <p>Looping with objects:</p>
        <ul>
            <li ng-repeat="x in names | orderBy:'country'">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>

    <script>
        angular.module('myApp', []).controller('namesCtrl', function($scope) {
            $scope.names = [{
                    name: 'Jani',
                    country: 'Norway'
                },
                {
                    name: 'Carl',
                    country: 'Sweden'
                },
                {
                    name: 'Margareth',
                    country: 'England'
                },
                {
                    name: 'Hege',
                    country: 'Norway'
                },
                {
                    name: 'Joe',
                    country: 'Denmark'
                },
                {
                    name: 'Gustav',
                    country: 'Sweden'
                },
                {
                    name: 'Birgit',
                    country: 'Denmark'
                },
                {
                    name: 'Mary',
                    country: 'England'
                },
                {
                    name: 'Kai',
                    country: 'Norway'
                }
            ];
        });

    </script>

</body>

</html>
