body{
    background-color: beige;
}
.bandeau_bleu{
    background-color: skyblue;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.titre{
    font-size: bold;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: azure;
}
.menu{
    background-color: skyblue;
    width: 200px;
    height: 290px;
    margin-top: 50px;
    border-radius: 0px 20px 20px 0px;
    float: left;
}
ul{
    list-style: none;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    margin-left: -40px;
    margin-top: 25px;
    color: white;
}
hr{
    color: white;
}
.texte{
    width: 70%;
    height: 500px;
    margin: 48px 700px 100px 225px;
    text-align: justify;
}
.voiture{
    width: 70%;
    position: absolute;
    top: 1000px;
    left: 200px; 
}
.rond{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-width: 50px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}
.voiture:hover +.rond{
    background-color: green;
}