<!DOCTYPE html>
<html>
  <head>
  <title>Exemple</title>
  <script>
    1; //Number (int)
    3.4; //Number (float)
    Infinity;

    true;
    false; //Boolean

    'Ceci est un texte';
    '45'; //String

    undefined; //represente une valeur non définie
    null; //represente une valeur vide
    NaN; //represente une valeur qui n'est pas un nombre

    //Function
    var faitUnePirouette = function pirouette(){;;;}; //fonction nommée
    var faitUnSalto = function(){;;;;}; //fonction anonyme

    //Array
    []; //vide
    var boite = [function(){var truc = prompt();return truc;},true,45,[],'Yo !'];
    boite[4]; //'Yo !'
    boite[0](); //exécute la fonction
    boite[0] =  boite[0]() + 'test';

    //L'objet
    //En JSON : Notation Objet JavaScript
    {};
    var maMaison = {};

    var laMaisonDuVoisin = {
      entree: 'porte-manteau', //propriete
      salon: ['canape','tv','table basse'], //propriete
      toiletteOccupees: true,
      sonneALaPorte:function(){ //méthode
        if(this.toiletteOccupees){
          alert('J\'arrive !');
        }else{
          alert('Entrez !');
        }
      },
      cave:{
        sauna:'Monsieur tout nu',
        caveAVin:'Caisse de bordeaux'
      }
    };

    laMaisonDuVoisin.entree; //'porte-manteau'
    laMaisonDuVoisin.salon; //['canape','tv','table basse']
    laMaisonDuVoisin.salon[1]; //'tv'

    laMaisonDuVoisin.toiletteOccupees = false;
    laMaisonDuVoisin.cave.caveAVin;
    laMaisonDuVoisin.sonneALaPorte();
    
    maMaison.laPieceMagique = 'Fauteuil empire';
    laMaisonDuVoisin.salon[3] = 'Fauteuil starck';
    laMaisonDuVoisin.salon[5] = 'Fauteuil empire';
    laMaisonDuVoisin.veranda = 'Chaises de jardin';

    laMaisonDuVoisin['veranda'];
    laMaisonDuVoisin['salon'][2];
    
    var objetEsoterique = {
      'Belier': 'Sami',
      "Balance": 'Guillaume',
      Vierge: ['Isabelle', 'Kara', 'Camille'],
      '/°=O=°\\':'Laaaaaaapin !'
    };
    
    objetEsoterique['/°=O=°\\'];
    objetEsoterique['{{{{{{{{}}}}}}}}'] = 6;
    objetEsoterique[9] = 'Hello !';


    var maNouvelleMaison = laMaisonDuVoisin;
    
    maNouvelleMaison.cave.sauna = null;

    var BouyguesConstruction = function(xyz){
      this.entree = xyz;
      this.salon = ['canapé','tv','table basse'];
      this.toiletteOccupees = false;
      this.sonnerie = function(){
        if(this.toiletteOccupees){
          alert('J\'arrive !');
        } else {
          alert('Entrez !');
        };
      };
      this.cave = {
        sauna:null,
        caveAVin:null
      };
    };

    var maison1 = new BouyguesConstruction('cendrier');
    var maison2 = new BouyguesConstruction('accroche parapluie');
    var maison3 = new BouyguesConstruction('paillasson');
    maison2.salon = 'cadavre !';
  </script>
  </head>
  <body>
    Hello World !
  </body>
</html>
