table{
    border-collapse: collapse;
    border:  1px solid red;
}
th{
    border: 1px dotted red;
    color: white;
    background-color: black;
    font-weight: bold;
}
td{
    border: 1px dotted red;
}
tfoot{
    font-weight: bold;
}
.paragraphe1:hover{
    background-color: beige;
}
.paragraphe2:hover{
    border: 1px solid red;
}
.paragraphe3:hover{
    width: 100%;
}
.paragraphe4{
    display: block;
}
.image_toukiden2{
    display: none;
}
.paragraphe4:hover > .image_toukiden2{
    display: block;
}