doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title Home200
    |  
    script(src='jquery.js')
    |  
    script(src='accueil.js')
  body  
    h1 Ajax exercice 05
    form(method='post', action='/azerty')
      | Votre commentaire 
      input(type='text', name='p1')
      | &#x9;&#x9;
      input(type='submit', value='envoyer')
    p= resultat
    button Afficher la liste
    |  
    #liste