<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="myCtrl">
    <div ng-init="myArray=[2012,2013,2014,2015,2016]">
        <p>mon année de formation : {{myArray[4]}}</p>
    </div>
    <div ng-init="classe={ecole:'ifocop',specialite:'javascript',nbEleve:50}">
        <p>l'école : {{classe.ecole}} {{classe.specialite}}</p>
        <p>et le reste : {{classe.nbEleve}}</p>
    </div>
    <script>
        angular
            .module("app",[])
            .controller("myCtrl",($scope)=>{

            })
    </script>
    <style>
        body{
            background-color: black;
        }
        p {
            color: white;
        }
    </style>
</body>
</html>