<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>

<body ng-app="app" ng-controller="myCtrl">
    <div ng-init="formation={name:'ifocop',speciality:'javascript',number:50, tableau:[{name:'shade',lastname:'Djoher',age:32},{name:dupon,lastname:greg,age:56}]}">
        <div ng-repeat="x in formation">
            {{x}}
        </div>
    </div>
    <script>
        angular
            .module("app", [])
            .controller("myCtrl", ($scope) => {

            })
    </script>
    <style>
        body {
            background-color: black;
        }

        p,div {
            color: white;
        }
    </style>
</body>

</html>