doctype html
html
  head
    title Ajax - #{title}
    link(rel='stylesheet' href='/staticFiles/src/styles.css')
    link(rel='stylesheet' href='/staticFiles/src/foundation-icons.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700')
    script(type='text/javascript' src='/staticFiles/src/jquery-1.11.1.min.js')
    script(type='text/javascript' src='/staticFiles/src/scripts.js')
