doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title Home200
    |     
    link(rel='stylesheet', href='style.css')
  body  
    h1 Formulaire
    |     
    p voici le formulaire
    |  
    img(src='/form.jpg')
    |  
 form(action='reponse1112' method='post')
 p
 label Votre nom
  input(type='text' name='info')
  p
  label Votre prénom
  input(type='text' name='info')
  input(type='submit' value='Envoyer')
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 //form(method='post')
    p
        label Votre nom
        input#nom(type='text', name='nom')
        |       
        label Votre pr&eacute;nom
        input#prenom(type='text', name='prenom')
