doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title Home
    |     
    link(rel='stylesheet', href='style.css')
  body  
  
h1= titreH1
p La réponse du formulaire est :
p #{titrePage}
p #{TitreH1}
p #{reponse1112}