/* Selectionne tout */
* {
    box-sizing: border-box;
}

/* Selectionne tout les articles  */
body article {
    font: 1rem/1.5 sans-serif;
}
/* 1rem est la taille de la police, 1.5 est l'interligne (correspond à 1rem*1.5) */

