body{
    background-color: darkblue;
}
@media only screen and (max-width:800px){
    body{
        background-color: chartreuse;
        font-size: 150%;
    }
}
@media print{
    p{
        color: black;
    }
}
.fond_gris{
    background-color: azure;
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    margin-left: 4%;
    margin-top: -25px;
    position: fixed;
}
.bandeau_bleu{
    background-color: skyblue;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.titre{
    font-size: bold;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: azure;
}
.menu{
    background-color: skyblue;
    width: 200px;
    height: 290px;
    margin-top: 50px;
    border-radius: 0px 20px 20px 0px;
    float: left;
}
ul{
    list-style: none;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    margin-left: -40px;
    margin-top: 25px;
    color: white;
}
hr{
    color: white;
}
.texte{
    height: 500px;
    margin: 48px 70px 100px 225px;
    text-align: justify;
}