<h1>Subscribing to multiple Observables in Angular Templates</h1>

<h2>Manual Subscriptions</h2>
<button (click)="show = !show">Toggle</button>

<app-manual-subscriptions *ngIf="show"></app-manual-subscriptions>
