<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--
Pour appeler un module. Ici, on appelle un module d'animation.
-->

<body>

    <input type="text" ng-model="search">
    <select name="" id="" ng-model="order">
       <option value="username">Organiser par nom</option>
       <option value="content">Organiser par contenu</option>
   </select>

    <div ng-controller="CommentsCtrl">
        <ul>
            <li ng-repeat="comment in comments | filter:search | orderBy:order">
                <!--<li ng-repeat="user in users | filter:{content:search} | orderBy:order">-->
                <p>
                    <strong>{{comment.username}}</strong><br> {{comment.content}}
                </p>
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.4/angular-animate.js"></script>

    <script>
        var app = angular.module('myApp', ['ngAnimate']);

        app.controller("CommentsCtrl", function($scope) {
                $scope.comments = [{
                    "username": "Laura",
                    "city": "Paris",
                    "email": "laura@paris.fr",
                    "content": "fdsgf dsjgf uidghjdg hhh gifgh ie"

                }, {
                    "username": "Rachid",
                    "city": "Metz",
                    "email": "rachid@metz.fr",
                    "content": "dsfidsjf iodsf hdsi fdi dsfl "

                }, {
                    "username": "Lucile",
                    "city": "Asniere",
                    "email": "lucile@asniere.fr",
                    "content": "sdkfhdsjkfhdsghf"
                }, {
                    "username": "ben",
                    "city": "nancy",
                    "email": "ben@nancy.fr",
                    "content": "aaaaaaaaaaaaaaaaaaaaaaaaaa"
                }]
            }

        )

    </script>
</body>
