include ./includes/head.pug
body
  div#page
    include ./includes/header.pug
    section
      h2 Interdit !
      p Vous ne pouvez pas aller dans cette direction.
      p
        a(href='/' title='accueil') Retour à l'accueil
    include ./includes/foot.pug
