include ./includes/head.pug
body
  div#page
    include ./includes/header.pug
    section
      h2 Impasse !
      p Il n'existe pas de réponse pour la page demandée
      p
        a(href='/' title='accueil') Retour à l'accueil
    include ./includes/foot.pug
