include ./includes/head.pug
body
  div#page
    include ./includes/header.pug
    section
      h2 Liste des lignes
      div
        span#gareDepart
          p Gare de départ
          select(name="gareDepart")
            option(value="--Votre choix--", selected='') --Votre choix--
            each gare, index in gares
              option(value= gare )= gare
        span#gareArrivee
          p Gare d'arrivée
          select(name="gareArrivee")
        span#horaires
          p Horaires
          select(name="horaires")
      div#resultat
    include ./includes/foot.pug
