include ./includes/head.pug
body
  div#page
    include ./includes/header.pug
    section
      h2 Liste des articles
      div
        table
          thead
            tr
              th Date
              th Service
              th Ligne
              th Ponctualité (%)
              th Taux de retard /voyageur
          each element, index in elements
            tr
                td= element.fields.date
                td= element.fields.service
                td= element.fields.ligne
                td= element.fields.ponctualite
                td= element.fields.nombre_de_voyageurs_a_l_heure_pour_un_voyageur_en_retard
    include ./includes/foot.pug
