include ./includes/head.pug
body
  div#page
    include ./includes/header.pug
    section
      h2 Détail sur la ligne #{ligne[0].fields.nom_de_la_ligne}
      table
        thead
          tr
            th Date
            th Service
            th Ponctualité
            th Voyageurs à l'heure
        tbody
          each element, index in ligne
            tr
              td= element.fields.date
              td= element.fields.service
              td= element.fields.ponctualite
              td= element.fields.nombre_de_voyageurs_a_l_heure_pour_un_voyageur_en_retard
    include ./includes/foot.pug
