<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>Mes appareils</h2>
        <p>Mis à jour : {{ lastUpdate | date: 'short' }}</p>
      <ul class="list-group">
        <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'allumé'"></app-appareil>
        <app-appareil [appareilName]="appareilThree" [appareilStatus]="'éteint'"></app-appareil>
      </ul>
      <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>
