<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Services : Exercice 1</title>
    <script>
      //Enoncé
      /* Les injections de dépendance et les services*/
      /**************************************************************************************************
        Lorsque la fonction constructeur d'un contrôleur, par exemple, est instanciée par Angular JS, ce dernier doit être en mesure de lui fournir les services dont le programmeur à besoin qui sont soit des services (objets ou fonctions) fournis par AngularJS ou des services créés par le programmeur.

        Comment est-ce qu'AngularJS détermine le nom du service à fournir à la fonction constructeur lors de son instanciation ? AngularJS parse le code de la fonction constructeur pour obtenir les noms des arguments et à partir de ces informations retrouve les services disponibles portant les mêmes noms.

        Pour ceux qui souhaitent en savoir plus sur le mécanisme d'injection de dépendances, le blog ci-après propose une explication détaillée de cette technique : http://krasimirtsonev.com/blog/article/Dependency-injection-in-JavaScript
      **************************************************************************************************/
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice1. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Injectez le service $filter dans un contrôleur. Ce service est documenté ici : https://docs.angularjs.org/api/ng/service/$filter Son utilisation dans un contrôleur est documenté ici https://docs.angularjs.org/api/ng/filter (voir la rubrique "In JavaScript" pour chacune des fonctions disponibles dans $filter).
      */

      /*
        3. Définissez un propriété par type de filtres et créez des expressions dans la vue pour afficher ces propriétés filtrées (par exemple une propriété qui contient une date et formatée en date à l'aide du filtre appropriée que vous afficherez dans la vue à l'aide d'une expression.)
      */
    </script>
  </head>
  <body>
    <div ng-controller="monController as monCtrl">
      <h4>Les injections de dépendances</h4>

      {{monCtrl.currency(451284)}}
      <br/>
      {{monCtrl.uppercase("majuscule ou minuscule")}}
      <br/>
      {{monCtrl.date("1986-09-08")}}
    </div>
    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>
      (function(){

          var monModule = angular.module('angular_test', []);
          monModule.controller('monController', ['$filter', function($filter){

              this.currency = function(value) {
                return $filter("currency")(value);
              };

              this.uppercase = function(string) {
                return $filter("uppercase")(string);
              };

              this.date = function(date) {
                return $filter("date")(date);
              };
          }]);


          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();

    </script>
  </body>
</html>
