<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
    <!-- le $http es un appel ajax qui prend, donne ou supprime une donnée-->

    <div ng-app="myApp" ng-controller="myCtrl">

        <p>Today's welcome message is:</p>

        <h1>{{myWelcome}}</h1>

    </div>

    <p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function($scope, $http) {
            $http.get("welcome.html")
                .then(function(response) {
                    $scope.myWelcome = response.data;
                });
        });

    </script>

</body>

</html>
