<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="">
        <form>
            Check to show a header:
            <input type="checkbox" ng-model="myVar">
        </form>
        <h1 ng-show="myVar">My Header</h1>
    </div>

    <p>The header's ng-show attribute is set to true when the checkbox is checked.</p>

</body>

</html>
