body{
    background-color: lightskyblue;
}
.bandeau{
    background-color: darkblue;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 0px;
}
.titre{
    color: lightblue;
    text-align: center;
    font-size: 100px;
    margin-top: -10px;   
}
.bandeau2{
    background-color: darkblue;
    width: 75%;
    height: 50px;
    position: absolute;
    top: 120px;
    left: 12%;
}
ul{
    list-style: none;
    margin-left: 0px;
}
li{
    display: block;
    float: left;
    color: lightblue;
    width: 25%;
    font-size: 25px;
    font-family: fantasy;
    font-weight: 600;
}
.fond_para{
    background-color: bisque;
    width: 75%;
    height: 1000px;
    position: absolute;
    top: 170px;
    left: 12%;
}
.para{
    margin: 2%;
}