<!doctype html>
<html lang="fr" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Les services</title>
    </head>
<body>
 
    <div ng-controller="MainCtrl">
        <p>{{userData.firstName}}</p>
        <p>{{userData.userName}}</p>
        <p>{{userData.age}}</p>
    </div>
 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>