doctype html
html
  head
    meta(charset='utf-8')
    title Socket.io
  body
    h1 Communication avec socket.io !
    script(src='jquery.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='accueil.js')
    p
      input#poke(type='button', value='Embêter le serveur')
    
    