/************  Général  ************/
body{
  padding: 0; margin: 0;
  color: #734636;
  background-color: #052A40;
  text-align: center;
  font-family: 'Lato', helvetica, arial, sans-serif;
}

#page{
  width: 98%; margin: 0 auto;
  text-align: left;
}

a{
  color: #734636;
  text-decoration: none;
}

a:hover{
  color: #801719;
}

header, section, footer{
 -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  background-color: #F7E8D7;
}

h1, h2, h3, p{
  margin: 0;
}

/************  En-tête  ************/
header{
  padding-bottom: 10px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; margin-bottom: 2%;
}

header h1{
  padding: 10px 10px 10px 40px;
  background-color: #0F7CBF; color: #fff;
}

header nav{
  text-align: center; margin-top: 10px;
  font-size: 1em;
}

nav ul{
  width: 95%; padding: 0; margin: 0 auto;
}

nav li{
  display: inline-block; vertical-align: top;
  width: 30%; margin: 0.6% 1.6%;
  list-style-type: none;
}

nav i{
  margin-right: 5px;
  font-size: 1.5em;
}

nav .texte{

}

nav a{
  padding-bottom: 3px; border-bottom: 3px solid transparent;
}

nav a:hover{
  border-color: #801719;
}

/************  Corps  ************/

section{
  margin: 1% 0; padding: 0 0 10px;
}

section h2{
  padding: 10px 10px 10px 30px; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; margin-bottom: 1%;
  background-color: #0F7CBF; color: #fff;
}

section>div, section form, section table{
  padding: 0 10px 10px;
}

section h3{
  display: inline-block;
  padding: 4px 8px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; margin-bottom: 1%;
  color: #fff; background-color: #734636;
}

section h3:hover{
  background-color: #801719;
}

section span{
  display: inline-block;
  font-style: italic;
  margin: 0 5%;
}

section span.date:after{
  content:'/'; display: inline-block;
  margin: 0 12px;
}

section .meta:after{
  content: ''; display: block;
  width: 40%; height: 1px; margin: 0.3% 0 0.8%; border-bottom: 1px dashed #801719;
}

section .content{
  margin-bottom: 2%;
}

section p:last-child{
  margin-bottom: 0;
}

/** ajout **/
form{
  text-align: right;
}

form div{
  text-align: center;
}

form div span{
  display: inline-block;
  width: 30%; min-width: 150px; margin: 0 20px;
  font-size: 1.5em;
}

label{
  display: inline-block;
  width: 120px; padding: 5px;  -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;
  background-color: #734636; color: #fff;
  text-align: center;
}

input[type=text]+label{
  margin-top: 1%;
}

input, textarea{
  border: 0;
}

input[name="titre"], textarea{
  display: block;
  width: 100%; margin-bottom: 5px;
  font-family: "Lato",helvetica,arial,sans-serif;
}

input[type=submit]{
  padding: 3px 6px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-top: 5px;
  background-color: #734636; color: #fff;
  font-size: 1.1em;
}

input[type=submit]:hover{
  background-color: #801719;
}

.fin{
  display: block; height: 1px; width: 100%; float: none; clear: both;
}

/** liste **/
table{
  width: 100%;
  text-align: center;
}

table thead{
  vertical-align: middle;
  height: 1em;
  font-size: 1em;
}

table tbody tr{
  height: 1em;
}

tr td:first-child{
  width: 36%;
}

tr td:nth-child(2), tr td:nth-child(3){
  width: 24%;
}

tr td:nth-child(4), tr td:last-child{
  width: 8%;
}

table tr:last-child{
  border-bottom: 0px;
}

/** connection **/
.connection form{
  text-align: center;
}

label.connectLabel{
  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 5px;
}

.connection input[name='identifiant']{
  margin-right: 20px;
}

.connection input[name=identifiant], .connection input[name=motdepasse]{
  min-width: 28%;
}

.infos{
  text-align: center;
}

.infos .data{
  margin-bottom: 10px;
}

.infos a{
  display: inline-block;
  padding-bottom: 3px; border-bottom: 3px solid transparent; margin: 0 8%;
  font-weight: bold;
}

.infos a:hover{
  border-color: #801719;
}

/** ajout utilisateur **/
.addUser label{
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 5px;
}

.addUser input[name='identifiant']{
  margin: 0 20px 30px 0;
}

.addUser label[for="motDePasse"]{
   margin: 0 0 30px 20px;
}

.addUser form p{

  display: inline-block;
  margin: 0 10px 0 15px ;
}

/************  Messages d'alerte  ************/
.message{
  position: fixed; top: 45%; left: 40%; z-index: 6;
  padding: 2% 5%; border: 5px solid #ADBEC7; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  font-size: 2em;
  color: #fff;
}

.alerte{
  background-color: red;
}

.confirmation{
  background-color: green;
}

.veil{
  position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 5;
  background-color: rgba(25,25,25,0.8);
}

/************  Pieds de page  ************/
footer{
  padding: 10px;
  text-align: center; font-weight: bold;
}
