doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title page1
    |     
    link(rel='stylesheet', href='style.css')
  body
    img(src='bandeau.jpg')
    |     
    h1 LE SUPER TITRE !
    |   
    p= variable2 
