doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title page2
    |     
    link(rel='stylesheet', href='style.css')
  body
    img(src='bandeau.jpg')
    |     
    h1 LE TITRE !
    |     
    ul
      li Page d&apos;accueil
      |         
      li Page 1
      |         
      li Page 2
    |   
    p= variable1
