doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title Home200
    |     
    link(rel='stylesheet', href='style.css')
  body  
    h1 bonjour !!!
    p= chiffre
    p= nom
    form(method='post', action='/azerty')
      | Votre nom
      input(type='text', name='p1')
      | Votre age 
      input(type='text', name='p2')
      | &#x9;&#x9;
      input(type='submit', value='envoyer')