doctype html(lang='en')
head
    meta(charset='UTF-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |   
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |   
    title Document
  script(src='views/08 import jsx and reactDOM/main.js')
body
  p dsfs
  #app