<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <ul>
            <li ng-repeat="x in names">{{x}}</li>
        </ul>

    </div>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function($scope) {
            $scope.names = ["Emil", "Tobias", "Linus"];
        });

    </script>

    <p>The variable "x" has a different value for each repetition, proving that each repetition has its own scope.</p>

</body>

</html>
