  .block {
    border: blue solid 3px;
    display: block;
    width: 250px;
    height: 20px;
    background-color: grey;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
  }
  .block:hover {
      width:400px;
      height:10px;
      -webkit-transform:rotate(120deg);
      transform:rotate(120deg);
  }
.block2{
    background-color: rebeccapurple;
    display: block;
    width: 250px;
    height: 200px;
    transition: width 4s, height 4s, transform 4s;
}
.block2:hover{
    background-color: green;
    width: 450px;
    height: 200px;
    transform: rotate(160deg);
}