doctype html(lang='fr')
head
    meta(charset='UTF-8')
    |  
    title Ajax
    |  
    script(src='jquery.js')
    |  
    script(src='accueil.js')
  body
    button Afficher la liste
    |  
    #liste