html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

@font-face {
    font-family: impact;
    src: url(/public/font/IMPACT.ttf);
}
li{
    line-height: 50px;
    font-size: 20px;
    color: grey;
}
.logo {
    width: 100%;
}

.cadre {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
}

.txt,.txtWhite {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.txt {
    color: black;
}
.txtWhite{
    color: white;
}
.messageError {
    color :red;
}