<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Contrôleurs : Exercice 1</title>
    <script>
      //Enoncé
      /* Les directives ng-controller et ng-click */
      /**************************************************************************************************
        Pour chaque question qui implique l'utilisation d'un contrôleur, vous répondrez 2 fois. Vous utiliserez :
        - La technique qui consiste à enrichir l'objet $scope de nouvelles propriétés ou méthodes et utiliser ces propriétés ou méthode.
        - La technique qui consiste à créer une instance nommée du contrôleur et utiliser les propriétés ou méthodes de cette instance.

        La directive ng-click permet d'associer un comportement à l'évènement onclick d'un élément du DOM. La directive ng-click est documentée ici :  https://docs.angularjs.org/api/ng/directive/ngClick.
      **************************************************************************************************/

      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice1. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        1. Créez un contrôleur qui définit une propriété et une méthode de contexte. La propriété est un nombre qui a initialement pour valeur 0. La méthode incrémente ce nombre de 1.
      */

      /*
        2. Utilisez la directive ng-click pour exécuter la méthode du contrôleur à chaque fois qu'on clique sur le titre h4. Affichez à l'aide d'une expression la propriété contenant le nombre en dessous du titre h4 dans un paragraphe.
      */

      /*
        3. Modifiez la méthode pour faire en sorte que si l'itération du nombre atteint 10, ce soit une décrémentation qui se produise et que si la décrémentation atteint 0 ce soit une incrémentation qui se produise (vous allez devoir créer un propriété qui vous indique si vous devez incrémenter/décrémenter).

      /*
        4. Faîtes en sorte que le titre h4 n'affiche pas le mot "itération" lorsque la décrémentation se produit mais le mot "décrémentation" (vous devez remplacer cette partie de la phrase par une expression qui utilise une propriété du contrôleur que la méthode modifiera selon le cas de figure).
      */
    </script>
  </head>
  <body>
    <div ng-controller="incrementationController">
      <h4 ng-click="incrementer()">{{verbe}} contrôlée (méthode 1)</h4>
      <p>Quelle est la valeur courante ?</p>
      {{compteur}}
    </div>

    <div ng-controller="incrementationController2 as monController">
      <h4 ng-click="monController.incrementer()">{{monController.verbe}} contrôlée (méthode 2)</h4>
      <p>Quelle est la valeur courante ?</p>
      {{monController.compteur}}
    </div>

    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>
      (function(){
          var monModule = angular.module('angular_test', []);

        /*
          Technique 1 (ancienne) : Déclaration d'une fonction constructeur qui prend en argument un objet $scope qui sera fourni par la méthode .controller() d'AngularJS.
        */
        monModule.controller('incrementationController', ['$scope', function($scope){
            $scope.compteur = 0;
            $scope.increment = true;
            $scope.verbe = "Incrémentation";

            $scope.incrementer = function() {

                if ($scope.increment)
                  $scope.compteur ++;
                else
                  $scope.compteur --;


                if ($scope.compteur == 10) {
                    $scope.increment = false;
                    $scope.verbe = "Décrémentation";
                  }

                if ($scope.compteur === 0) {
                  $scope.increment = true;
                  $scope.verbe = "Incrémentation";
                }
            };
        }]);


        /*
          Technique 2 (recommandée) : Déclaration d'une fonction constructeur qui définit les propriété est les méthodes d'une instance nommée de contexte enfant.
        */
        monModule.controller('incrementationController2',function(){
          this.compteur = 0;
          this.increment = true;
          this.verbe = "Incrémentation";

          this.incrementer = function() {
              if (this.increment)
                this.compteur ++;
              else
                this.compteur --;


              if (this.compteur == 10) {
                  this.increment = false;
                  this.verbe = "Décrémentation";
                }

              if (this.compteur === 0) {
                this.increment = true;
                this.verbe = "Incrémentation";
              }
          };
        });






          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();
    </script>
  </body>
</html>
