<!doctype html>
<html lang="fr" ng-app="angularjsExercice0" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Contrôleurs : Exercice 0</title>
    <script>
      //Enoncé
      /* Les contextes, les contrôleurs et la directive ng-controller */
      /**************************************************************************************************
        Le contexte applicatif principal d'AngularJS ("root scope", objet $rootScope) est un objet qui fournit un contexte d'exécution pour toutes les expressions AngularJS utilisées dans un document Web. La documentation officielle de l'objet $rootScope est disponible ici : https://docs.angularjs.org/api/ng/service/$rootScope

        Le rôle de cet objet est de servir d'interface entre les données (qu'on appelle modèles) créées par exemple à l'aide d'expression et l'affichage (qu'on appelle vue) matérialisé par le code source HTML.

        On pourrait utiliser le contexte applicatif principal d'AngularJS comme on l'a fait dans la première série d'exercices mais on se rend bien compte que, plus on utilise d'expressions dans le code HTML, moins l'application est lisible, modulaire et maintenable.
        
        Pour pallier à cela, AngularJS créé des contextes enfants ("child scopes", objet $scope). Ces contextes enfants sont des objets qui héritent (par prototypage) du contexte applicatif principal d'AngularJS. La hiérarchie des contextes enfant se superpose à celle du DOM. La documentation officielle concernant les objets "scope" est disponible ici : https://docs.angularjs.org/guide/scope. 

        Pour spécialiser les contextes enfant, on utilisera des fonctions constructeur qu'on appelle contrôleurs. Le rôle des contrôleurs sera de définir l'ensemble des propriétés et des méthodes d'un contexte enfant. En d'autre termes, plutôt que d'initialiser ou de déclarer des variables dans le contexte principal en utilisant des expressions comme dans la première série d'exercice, nous le ferons dans les contrôleurs et uniquement pour certaines partie du DOM.

        On peut utiliser les contrôleurs de deux façons :
        - Soit pour spécialiser un contexte enfant (objet $scope) fourni par AngularJS (ancienne technique : Angular JS <= 1.2).
        - Soit pour définir les propriété et méthodes d'un objet qu'on peut ensuite utiliser dans le contexte enfant. (nouvelle technique : Angular > 1.2, recommandée).

        Le document ci-après utilise la directive ng-controller pour :
        - spécialiser un contexte enfant (i.e un objet "$scope"). Le contrôleur de la directive ng-controller est déclaré dans le code JavaScript après la déclaration du contexte applicatif. Il se compose d'une fonction constructeur qui définit une propriété du CONTEXTE ENFANT. Cette propriété est ensuite affichée dans la div à l'aide d'un expression.
        - définir les les propriété et méthodes d'un contexte enfant dont le nom d'instance est imposé. La directive ng-controller s'appuie sur l'expression "controller as". Le contrôleur de la directive ng-controller est déclaré dans le code JavaScript après la déclaration du contexte applicatif. Il se compose d'une fonction constructeur qui définit une propriété du CONTROLEUR. Cette propriété est ensuite affichée dans la div à l'aide d'un expression.

        La directive ng-controller est documentée ici : https://docs.angularjs.org/api/ng/directive/ngController
      **************************************************************************************************/
    </script>
  </head>
  <body>
    <div ng-controller="jeRedefinisUnContexteEnfant">
      <h4>Message contenu dans un contexte enfant</h4>
      <p>{{ jesuis }}</p>
    </div>
    <div ng-controller="jeCreeUnControleurNommme as monControleur">
      <h4>Message contenu dans une instance de contrôleur</h4>
      <p>{{ monControleur.jesuis }}</p>
    </div>
    <script src="./lib/angular.min.js"></script>
    <script>
      'use strict';
      (function(){
        var app = angular.module('angularjsExercice0',[]);

        /*
          Technique 1 (ancienne) : Déclaration d'une fonction constructeur qui prend en argument un objet $scope qui sera fourni par la méthode .controller() d'AngularJS.
        */
        app.controller('jeRedefinisUnContexteEnfant', ['$scope', function($scope){
          $scope.jesuis = 'Valeur d\'une propriété du contexte enfant ($scope) !';
        }]);

        /*
          Technique 2 (recommandée) : Déclaration d'une fonction constructeur qui définit les propriété est les méthodes d'une instance nommée de contexte enfant.
        */
        app.controller('jeCreeUnControleurNommme',function(){
          this.jesuis = 'Valeur d\'une propriété du contrôleur dont l\'instance est nommée !';
        });

        //La méthode .controller() est documentée ici : https://docs.angularjs.org/api/ng/type/angular.Module
      })();
    </script>
  </body>
</html>