include ./includes/head.jade
  include ./includes/menu.jade
  section
    table
      tr
        td Titre
        td Texte
        td Auteur
        td Date
        td 
        td 
      each val, index in donnees.data
        tr
          td
            a(href='/article/:#{val._id}') #{val.titre}
          td= val.corps
          td= val.auteur
          td= val.date
          td
            //a(href='/admin/modifier/:#{val._id}') Modifier
          td
            //a(href='/admin/modifier/:#{val._id}') Supprimer
include ./includes/foot.jade