include ./includes/head.jade
  include ./includes/menu.jade
  section#ajoutArticle
    form(action='/admin/traitement' method='post')
      label titre
      input(type='text' name='titre')
      label texte
      textarea(rows='5' cols='50' name='corps')
      label auteur
      input(type='text' name='auteur')
      input(type='submit' id='submit' value='Envoyer')
  include ./includes/foot.jade