include ./includes/head.jade
  include ./includes/menu.jade
  section
    each val, index in donnees.data
      h2=  val.titre
      p De #{val.auteur}, créé le #{val.date}
      p= val.texte
  include ./includes/foot.jade