include ./includes/head.jade
  include ./includes/menu.jade
  section
    each val, index in donnees.data
      h2
        a(href='/article/:#{val._id}') #{val.titre}
      p.indications De #{val.auteur}, créé le #{val.date}
      p.texte= val.corps
    div(ng-controller='articlesSuivants as suivant' id='suiteAccueil')
      p(ng-click='suivant.affiche()' ng-if='suivant.showButton') afficher la suite
      div(ng-if='suivant.articles' ng-repeat='article in suivant.articles track by $index')
      
        h2 {{ article.titre }}
        p {{ article.corps }}
        p {{ article.auteur }}
include ./includes/foot.jade