<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../angular.min.js"></script>
</head>

<body ng-app="app" , ng-controller="myController">
    <script src="index.js"></script>
    <div ng-init="editme='Edite me';inputDisplay=false">
        <div ng-show="inputDisplay">
            <input ng-model="editme" type="text">
            <!-- <div>{{editme}}</div> -->
        </div>
        
        <div>
            <p ng-click="inputDisplay=true">{{editme}}</p>
        </div>
        

    </div>
</body>

</html>