<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <p>Select a car:</p>

        <select ng-model="selectedCar">
<option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
</select>

        <h1>You selected: {{selectedCar}}</h1>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.cars = [{
                    model: "Ford Mustang",
                    color: "red"
                },
                {
                    model: "Fiat 500",
                    color: "white"
                },
                {
                    model: "Volvo XC90",
                    color: "black"
                }
            ];
        });

    </script>

    <p>When you use the ng-repeat directive to create dropdown lists, the selected value must be a string.</p>
    <p>In this example you will have to choose between the color or the model to be your selected value.</p>

</body>

</html>
