<--<!doctype html>
<html lang="fr" ng-app>

<head>
    <meta charset="UTF-8">
    <title>Ma première page</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div ng-controller="MainCtrl">
        <h1>{{title}}</h1>
        <input type="text" ng-model="name" placeholder="Votre nom">
        <p>Bonjour {{name}}</p>
        <ul>
            <li ng-repeat="user in users">
                <div>Nom: {{user.name}}</div>
                <div>Age: {{user.age}}</div>
            </li>
        </ul>
    </div>

    <div ng-controller="secondCtrl">
        <p ng-bind="title"></p>
        <h2>{{title}}</h2>
        <button ng-click="ohHey()">Click</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="index.js"></script>
</body>

</html>
