doctype html
html
  head
    meta(charset='utf-8') 
    title Ajax
    script(type='text/javascript', src='jquery.js')
  body
    h1 Mon nouveau document !!!!
    script(type='text/javascript', src='accueil.js')
