<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>AngularJS : Les Contrôleurs : Exercice 3</title>
    <script>
        //Enoncé
        /* Les directives ng-controller, ng-click, ng-repeat et ng-style*/
        /**************************************************************************************************
          Pour chaque question qui implique l'utilisation d'un contrôleur, vous répondrez 2 fois. Vous utiliserez :
          - La technique qui consiste à enrichir l'objet $scope de nouvelles propriétés ou méthodes et utiliser ces propriétés ou méthode.
          - La technique qui consiste à créer une instance nommée du contrôleur et utiliser les propriétés ou méthodes de cette instance.

          La directive ng-style permet d'appliquer des propriété de style CSS à un élément. Doit contenir une expression qui est un objet contenant des associations : propriété de style / valeur correspondante. La directive ng-style est documentée ici :  https://docs.angularjs.org/api/ng/directive/ngStyle
        **************************************************************************************************/

        /*
          1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice3. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
        */

        /*
          2. Créez un contrôleur qui contient une propriété qui contient un tableau qui contient lui-même 3 objets qui décrivent des propriétés de style (largeur, hauteur et couleur de fond). Utilisez la directive ng-repeat pour appliquer ces propriétés de style à 3 div. 
        */

        /*
          3. Dans le contrôleur, créez une méthode qui prend en argument l'index d'un élément dans le tableau d'objets et qui modifie (incrémente) la propriété de style de largeur correspondant à l'objet dont l'index est fourni en argument.
        */

        /*
          4. Lorsqu'on utilise la directive ng-repeat, celle-ci expose des propriétés dans le contexte considéré comme $index qui contient l'index de l'élément considéré. Utilisez la directive ng-click pour faire en sorte que lorsqu'on clique sur une de div, on déclenche la méthode qui modifie le style dont l'index est fourni en argument. 
        */
    </script>
</head>

<body>
    <div ng-controller="nomDuControleur">
        <div ng-repeat="lalala in propriete">{{lalala}}
            <div ng-style="propriete[0]"></div>
            <div ng-style="propriete[0]"></div>
            <div ng-style="propriete[0]"></div>    
        </div>
    </div>
    <div ng-controller="autreControleur">{{boite.message}}</div>
    <div></div>
    <script src="angular.min.js"></script>
    <script>
        //crée un module angular
        angular.module('monModuledule', []); //setter

        angular.module('monModuledule').controller('nomDuControleur', ['$scope', function (objetCorrespondantAuContexte) {
            objetCorrespondantAuContexte.propriete = [{
                "width": "100px"
             ,
                "height": "200px"
            , 
                "background-color": "red"
            }];
}]);
        angular.module('monModuledule').controller('autreControleur', ['$scope', function (objetCorrespondantAuContexte) {
            objetCorrespondantAuContexte.boite = {
                message: 'Ceci est un message'
            };
}]);

        angular.bootstrap(window.document, ['monModuledule'], {
            strictDi: true
        });
    </script>
</body>

</html>