<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>AngularJS : Les Contrôleurs : Exercice 1</title>
    <script>
    </script>
</head>

<body>
    <!-- Un premier contrôleur -->
    <div ng-controller="MainCtrl">
        <h2>{{title}}</h2>
        <ul>
            <li ng-repeat="user in users">
                <div>Nom: {{user.name}}</div>
                <div>Age: {{user.age}}</div>
            </li>
        </ul>
    </div>

    <!-- Un second contrôleur -->
    <div ng-controller="SecondCtrl">
        <h2>{{title}}</h2>
        <button ng-click="ohHey()">Click</button>
    </div>
    <script src="angular.min.js"></script>
    <script>
        //crée un module angular
        angular.module('monModuledule', []); //setter
        var MainCtrl = function ($scope) {
            $scope.title = "Boucle sur un objet javascript"
            $scope.users = [
                {
                    name: 'Sébastien',
                    age: 21
                },
                {
                    name: 'Marion',
                    age: 24
                },
                {
                    name: 'Laura',
                    age: 25
                },
                {
                    name: 'Morgan',
                    age: 23
                }
    ];
        };
        var SecondCtrl = function ($scope) {
            $scope.title = "Appel d'une fonction"
            $scope.ohHey = function () {
                alert("Oh hey");
            };
        };
        //var monModule = angular.module('monMonduledule'); // getter


        angular.bootstrap(window.document, ['monModuledule'], {
            strictDi: true
        });
    </script>
</body>

</html>