<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../angular.min.js"></script>
</head>

<body ng-app="app" ng-controller="myController">
    
        <div>
            <div ng-repeat="azerty in array" ng-click="toggleActive(azerty)" ng-class="{validate:azerty.validate}">{{azerty.name}} {{azerty.price}}</div>
        </div>
        <div> Le totale: 
            {{total()}}
        </div>
   
    <script src="index.js"></script>
</body>
<style>
    div {
        background-color: red;
    }

    div.validate {
        background-color: green;
    }
</style>

</html>