<p>Ingredients (pour {{ blanquetteCtrl.nbrePersonne }} personnes) :</p>
  <ul>
    <li>{{ blanquetteCtrl.quantiteDeVeau }} kg de blanquette de veau</li>
    <li>{{ blanquetteCtrl.quantiteDeCubeDeBouillonDePoulet }} cube de bouillon de poulet</li>
    <li>{{ blanquetteCtrl.quantiteDeCarotte }} carottes</li><li>{{ blanquetteCtrl.quantiteOignon }} gros oignon</li>
    <li>{{ blanquetteCtrl.quantiteDeChampignon }} petite boite de champignons (coupés)</li>
    <li>{{ blanquetteCtrl.quantiteDePetitPotDeCreme }} petit pot de crème fraiche</li>
    <li>du jus de citron</li>
    <li>{{ blanquetteCtrl.quantiteDeJauneOeuf }} jaune d\'oeuf</li>
    <li>farine</li>
    <li>{{ blanquetteCtrl.quantiteDeVinBlanc }} cl de vin blanc</li>
  </ul>
  <form ng-submit="blanquetteCtrl.augmenterNbrePersonne()">
  <p>Augmenter le nombre de personnes : <input type="submit" value="+"/></p>
 </form>