<!DOCTYPE html>
<html>
  <head>
  <title>AngularJS - Exemple 08</title>
  </head>
  <body>
    <div ng-controller="blanquetteController as blanquetteCtrl">
      <p>Ingredients (pour {{ blanquetteCtrl.nbrePersonne }} personnes) :</p>
      <ul>
        <li>{{ blanquetteCtrl.quantiteDeVeau }} kg de blanquette de veau</li>
        <li>{{ blanquetteCtrl.quantiteDeCubeDeBouillonDePoulet }} cube de bouillon de poulet</li>
        <li>{{ blanquetteCtrl.quantiteDeCarotte }} carottes</li>
        <li>{{ blanquetteCtrl.quantiteOignon }} gros oignon</li>
        <li>{{ blanquetteCtrl.quantiteDeChampignon }} petite boite de champignons (coupés)</li>
        <li>{{ blanquetteCtrl.quantiteDePetitPotDeCreme }} petit pot de crème fraiche</li>
        <li>du jus de citron</li>
        <li>{{ blanquetteCtrl.quantiteDeJauneOeuf }} jaune d'oeuf</li>
        <li>farine</li>
        <li>{{ blanquetteCtrl.quantiteDeVinBlanc }} cl de vin blanc</li>
      </ul>
      <form ng-submit="blanquetteCtrl.augmenterNbrePersonne()">
        <p>Augmenter le nombre de personnes : <input type="submit" value="+"/></p>
      </form>
    </div>
    <script src="./lib/angular.min.js"></script>
    <script>
      (function(){
        'use strict';

        angular.module('cuisineMaster',[]);

        angular.module('cuisineMaster').controller('blanquetteController', [function(){

          this.quantiteDeVeau = 1;
          this.quantiteDeCubeDeBouillonDePoulet = 1;
          this.quantiteDeCarotte = 3;
          this.quantiteOignon = 1;
          this.quantiteDeChampignon = 1;
          this.quantiteDePetitPotDeCreme = 1;
          this.quantiteDeJauneOeuf = 1;
          this.quantiteDeVinBlanc = 25;

          this.nbrePersonne = 4;

          var that = this;
          var calculQuantite = function(qtite){
            return (qtite/that.nbrePersonne) * (that.nbrePersonne + 1);
          }

          this.augmenterNbrePersonne = function(){

           this.quantiteDeVeau = calculQuantite(this.quantiteDeVeau);
           this.quantiteDeCubeDeBouillonDePoulet = calculQuantite(this.quantiteDeCubeDeBouillonDePoulet);
           this.quantiteDeCarotte = calculQuantite(this.quantiteDeCarotte);
           this.quantiteOignon = calculQuantite(this.quantiteOignon);
           this.quantiteDeChampignon = calculQuantite(this.quantiteDeChampignon);
           this.quantiteDePetitPotDeCreme = calculQuantite(this.quantiteDePetitPotDeCreme);
           this.quantiteDeJauneOeuf = calculQuantite(this.quantiteDeJauneOeuf);
           this.quantiteDeVinBlanc = calculQuantite(this.quantiteDeVinBlanc);

           this.nbrePersonne = this.nbrePersonne + 1;

          }

        }]);

        angular.bootstrap(window.document, ['cuisineMaster'], {strictDi:true});

      })();
    </script>
  </body>
</html>