<!DOCTYPE html>
<html>
  <head>
  <title>AngularJS - Exemple 07</title>
  </head>
  <body>
    <div ng-controller="monControleur as monCtrl">
      <p ng-click="monCtrl.modifTest()">Hello le monde !</p>
      <p>La valeur de test est : {{monCtrl.test}}</p>
      <div ng-controller="monAutreControleur">
        <p>Bonjour le world !</p>
        <p ng-click="monCtrl.modifTest()">Modifions test</p>
        <p>La valeur de mon autre test est : {{monAutreCtrl.autreTest}}</p>
        <p>La valeur de test est : {{monAutreCtrl.test}}</p>
      </div>
    </div>
    <script src="./lib/angular.min.js"></script>
    <script>
      //Création d'un module
      angular.module('bonneAnnee', []); //setter

      //Récuperation du module
      angular.module('bonneAnnee').controller('monControleur',['$log', '$http', function($log, $http){
          
          this.test = 'Ca marche !!!!';
          this.modifTest = function(){
              this.test = 'Ca marche encore !!!';
          };
      }]); //getter

      angular.module('bonneAnnee').controller('monAutreControleur',['$scope',function($scope){
        $scope.monAutreCtrl = {
          autreTest:'Ceci est un autre test !!!',
          test: 'Ceci est la propriete test du scope de mon autre controleur'
        };
      }]);
      
      angular.bootstrap(window.document,['bonneAnnee'],{
          strictDi:true
      });
    </script>
  </body>
</html>