<!DOCTYPE html>
<html>
  <head>
  <title>AngularJS - Exemple 01</title>
  <script>
    'use strict';
  </script>
  </head>
  <body>
    <p>Hello World !</p>
    <!-- Texte contenant un expression évaluée par Angular JS -->
    <p>je veux calculer 6 + 3 = {{ 6 + 3 }} !</p>
    <!-- balise p portant un attribut personnalisé -->
    <p klaxon="pouet pouet !">je ne veux pas calculer 6 + 3 !</p>
    <!-- balise personnalisée -->
    <diwjsrulez>Yo !</diwjsrulez>
    <!-- balise div portant des attributs personnalisés gérés par Angular JS (appelés "Directives" dans le jaron Angular JS) -->
    <div ng-init="test = 0" ng-click="test = test + 1"> {{ test }}</div>
    <!-- AngularJS est généralement chargé en bas de document HTML -->
    <script src="./lib/angular.min.js"></script>
    <!-- Script utilisant les possibilités offertes par Angular JS -->
    <script>
      (function(){
        //créé le module superChoucroute
        angular.module('superChoucroute', []); //setter (+getter)

        //récupère le module superChoucroute
        //angular.module('superChoucroute'); //getter uniquement !!!

        //initialise Angular Js sur ce document avec le module superChoucroute
        angular.bootstrap(window.document, ['superChoucroute'], {strictDi:true});
      })(); //Closure -- moins polluant pour le contexte principal
    </script>
  </body>
</html>
