<!DOCTYPE html>
<html>
  <head>
  <title>AngularJS - Exemple 03</title>
  <script>
    'use strict';
  </script>
  </head>
  <body>
    <div ng-controller="monSuperControleur as monSuperCtrl">
      <p>{{ monSuperCtrl.test }}</p>
      <p ng-click="monSuperCtrl.autreTest()"> Cliquez ici !</p>
      <div ng-controller="monMegaControleur">
        <p>{{ monMegaCtrl.encoreUnTest }}</p>
        <p>{{ monMegaCtrl.test }}</p>
      </div>
    </div>

    <script src="./lib/angular.min.js"></script>
    <script>
      angular.module('monModuleGenial', []);

      angular.module('monModuleGenial').controller('monSuperControleur', function(){
        this.test = 'Ceci est un test du supercontroleur !';
        this.autreTest = function(){
            this.test = 'Test d\'execution de methode du supercontroleur !';
        };
      });

      angular.module('monModuleGenial').controller('monMegaControleur', ['$scope','$http', function($scope, $http){
        $scope.monMegaCtrl= {
          test:'message du megacontroleur',
          encoreUnTest:'Ceci est encore un test du megacontroleur !'
        };
      }]);

      angular.bootstrap(window.document, ['monModuleGenial'], {strictDi:true});
    </script>
  </body>
</html>
