<!DOCTYPE html>
<html>
  <head>
  <title>AngularJS - Exemple 08</title>
  </head>
  <body>
    <div ng-controller="alHeure as alHeureCtrl">
      <p ng-click="alHeureCtrl.superToto()">Hello le monde !</p>
      <p> {{ alHeureCtrl.toto }} + {{ alHeureCtrl.toto }}</p>
      <p>{{ alHeureCtrl.prenomDuChien }}</p>
      <div ng-controller="dAilleurs">
        <p> {{ dAilleursCtrl.toto }}</p>
        <p> {{ dAilleursCtrl.prenomDuChien }} </p>
        <p ng-click="dAilleursCtrl.cliqueIci()"> Ici </p>
      </div>
    </div>
    <div>
      <p>Bonjour le world !</p>
    </div>
    <script src="./lib/angular.min.js"></script>
    <script>
      (function(){
        'use strict';

        angular.module('aDudule',[]);

        /*
        angular.module('aDudule').controller('alHeure', ['$scope', function($scope){
          $scope.alHeureCtrl = {
            toto:0,
            superToto:function(){
              this.toto ++;
            }
          };
        }]);
        */

        angular.module('aDudule').factory('objetASePartager', function(){
        
          return {
            chien:'medor'
          };
        
        });

        angular.module('aDudule').controller('alHeure', ['objetASePartager',function(ici){
          this.toto = 0;
          this.prenomDuChien = 'inconnu';
          this.superToto = function(){
            this.toto ++;
            this.prenomDuChien = ici.chien;
          };
        }]);

        angular.module('aDudule').controller('dAilleurs', ['$scope', 'objetASePartager', function($scope, iciAussi){
          $scope.dAilleursCtrl = {
            prenomDuChien:'inconnu',
            toto:100000,
            cliqueIci:function(){
              iciAussi.chien = 'rex';
              $scope.dAilleursCtrl.prenomDuChien = iciAussi.chien;
              
            }
          };
        }]);


        angular.bootstrap(window.document, ['aDudule'], {strictDi:true});

      })();
    </script>
  </body>
</html>