<!DOCTYPE html>
<html>
  <head>
  <title>AngularJS - Exemple 05</title>
  </head>
  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
    </script>
    <div ng-controller="premierControleur as premierCtrl">
      <p>Hello le monde !</p>
      <p ng-click="premierCtrl.change()"> Message : {{ premierCtrl.text }}</p>
      <div ng-controller="secondControleur as secondCtrl">
        <p>Au revoir le monde !</p>
        <p>{{ secondCtrl.text }}</p>
        <p>{{ premierCtrl.text }}</p>
      </div>
    </div>
    <script src="./lib/angular.min.js"></script>
    <script>
      (function(){

        'use strict';

        //création d'un module angular
        angular.module('exemple05', []); //setter (+ getter)

        //angular.module('exemple05'); //getter

        //En utilisant le getter,
        //création d'un premier contrôleur
        angular.module('exemple05').controller('premierControleur',['$log', function($log){
          this.text = '';
          this.change = function(){
            this.text = 'Bonjour le monde !';
            $log.log(this.text);
          };
        }]);

        //En utilisant le getter,
        //création d'un second contrôleur
        angular.module('exemple05').controller('secondControleur', function(){
          this.text = 'Ceci est un message du second controleur';
        });

        //démarrage du module sur l'élément document du DOM
        angular.bootstrap(window.document, ['exemple05'], {strictDi:true});

      })();
    </script>
  </body>
</html>
