<!DOCTYPE html>
<html>
  <head>
  <title>AngularJS - Exemple 11</title>
  </head>
  <body>
    <div id="container"></div>
    <div ng-controller="monControleur as monCtrl">
      <p ng-repeat="case in monCtrl.tableau track by $index">{{$index}} : {{ case }}</p>
    </div>
    <script src="./lib/jquery-1.11.3.min.js"></script>
    <script src="./lib/angular.min.js"></script>
    <script>
      var mesDivs = [];
      
      for(i = 0; i < 12; i++){
        var div =  document.createElement('div');
        var img = document.createElement('img');
        img.src = '???';
        jQuery(div).append(img);
        jQuery('#container').append(div);
        mesDivs.push(div);
      }
      
      

      jQuery(mesDivs[3]).css({
        border:'2px solid blue',
        'position': 'absolute',
        top:'20px', 'left':'60px',
        width:'100px',
        height:'100px'
      });

      mesDivs.splice(4,1);

      console.log(mesDivs);

      jQuery('#container > div').css({position:'absolute'}).animate({left:'120px'});
      
     var check = function(){

        for(index in mesDivs){
          var leftPos = parseFloat(jQuery(mesDivs[index]).css('left'));
          if(leftPos > 100){
            jQuery(mesDivs[index]).stop();
          }
        };

        window.requestAnimationFrame(check);

     };
     
     window.requestAnimationFrame(check);

      (function(){

        'use strict';

        angular.module('monModule', []);

        angular.module('monModule').controller('monControleur', [function(){
          this.tableau = ['a', 'a', 'b', 'c'];
        }]);

        angular.bootstrap(window.document, ['monModule'], {strictDi:true});
      })()
    </script>
  </body>
</html>