<!DOCTYPE html>
<html>
  <head>
  <title>AngularJS - Exemple 04</title>
  </head>
  <body>
    <div ng-controller="premierControleur as premierCtrl">
      <p>Hello le monde !</p>
      <p ng-click="premierCtrl.change()"> Message : {{ premierCtrl.text }}</p>
      <div ng-controller="secondControleur as secondCtrl">
        <p>Au revoir le monde !</p>
        <p>{{ secondCtrl.text }}</p>
        <p>{{ premierCtrl.text }}</p>
      </div>
    </div>
    <script src="./lib/angular.min.js"></script>
    <script>
      'use strict';

      //création d'un module angular
      var moduleReference = angular.module('exemple04', []); //setter (+ getter)

      moduleReference.controller('premierControleur',['$log', function($log){
        this.text = '';
        this.change = function(){
          this.text = 'Bonjour le monde !';
          $log.log(this.text);
        };
      }]);

      moduleReference.controller('secondControleur', function(){
        this.text = 'Ceci est un message du second controleur';
      });
      
      /**
      moduleReference.controller('premierControleur',['$scope',function($scope){
        $scope.premierCtrl = {
          text:'',
          change:function(){
            this.text = 'Bonjour le monde !'
          }
        };
        //ou (moins bien)
        $scope.text = '';
        $scope.change = function(){
          $scope.text = 'Bonjour le monde !'
        };
      }]);
      */

      /*
      moduleReference.controller('secondControleur',['$scope',function($scope){
        $scope.secondCtrl = {
          text:'Ceci est un message du second controleur'
        };
        //ou (moins bien)
        $scope.text = 'Ceci est un message du second controleur';
      }]);
      */

      //démarrage du module sur l'élément document du DOM
      angular.bootstrap(window.document, ['exemple04'], {strictDi:true});
    </script>
  </body>
</html>
