body{
    background-color: darkblue;
}
.fondgris{
    background-color: darkgray;
    width: 90%;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22px;
}
.fondchelou{
    background-color: bisque;
    float: left;
    margin: 20px 10px 10px 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
h1{
    text-align: center;
    vertical-align: middle;
    margin: 3%;
    color: grey;
}
p{
    float: right;
    text-align: justify;
    margin: 3%;
}
.etoile{
    width: 10%;
    height: 10%;
    float: left;
}
.image2{
    width: 10%;
    height: 10%;
    float: right;
}
.image3{
    width: 10%;
    height: 10%;
    float: left;
}
.image4{
    width: 10%;
    height: 10%;
    float: left;
}
.image5{
    width: 10%;
    height: 10%;
    float: left;
}
.image6{
    width: 10%;
    height: 10%;
    float: right;
}