<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body ng-app="">

    <p>Try writing in the input field:</p>

    <form name="myForm">
        <input type="email" name="myInput" ng-model="myInput" required>
    </form>

    <p>The input's valid state is:</p>
    <h1>{{myForm.myInput.$valid}}</h1>

</body>

</html>
