h1 Mon super blog
nav
    ul
      li 
        a(href='/' title='Accueil') Accueil
      //li
        //a(href='/admin' title='Se connecter') Se connecter
      //li
        //a(href='/' title='Liste des utilisateurs') Liste des utilisateurs
      //li
        //a(href='#' title='Ajouter un utilisateur') Ajouter un utilisateur
      li
        a(href='/admin/ajout' title='Ajouter un article') Ajouter un article
      li
        a(href='/admin/articles' title='') Liste des articles