<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 9</title>
    <script>
      //Enoncé
      /* Les filtres */
      /***********************************************************************************************************
        Les filtres sont des fonctions définies dans AngularJS et qui peuvent être utilisée dans les expressions à l'aide du symbole | (qu'on appelle pipe - tube en français). La documentation officielle des filtres est disponible ici : https://docs.angularjs.org/api/ng/filter
      ***********************************************************************************************************/

      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice9. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        1. Initialisez un tableau qui contient 3 objets qui représentent des voitures. Une voiture à pour caractéristiques :
        - Son prix, qui est un nombre;
        - Son modèle, qui est un texte;
        - Sa puissance, qui est un texte;
        - Sa date de fabrication, qui est un nombre (un timestamp).
      */

      /*
        2. Affichez, pour chacune des voiture :
        - Son prix formaté avec le filtre approprié;
        - Sa date de fabrication formatée avec le filtre approprié;
        - Sa puissance formatée en majuscule;
        - Son modèle formaté en minuscule.
        L'affichage sera ordonnancé par date croissante.
      */
      </script>
  </head>
  <body>
    <div ng-init="voitures=[{prix: 15000, modele: 'voitureA', puissance: 'moyenne', dateFabrication: 1273183200000},
                            {prix: 7000, modele: 'voitureC', puissance: 'basse', dateFabrication: 1423782000000 },
                            {prix: 200000, modele: 'voitureB', puissance: 'ultra', dateFabrication: 1378159200000 }]">
      <h4>Ma collection de voitures</h4>
    </div>


    <ul>
      <li ng-repeat="voiture in voitures | orderBy:'dateFabrication'">{{voiture.prix | currency}} / {{voiture.dateFabrication  | date}} / {{voiture.puissance  | uppercase}} / {{voiture.modele  | lowercase}}</li>
    </ul>

    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>
      (function(){
          var monModule = angular.module('angular_test', []);
          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();
    </script>
  </body>
</html>
