<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 1</title>
    <script>
      //Enoncé
      /* Les expressions triviales */
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice1. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Complétez les paragraphes de texte du document Web (répondez aux questions) avec l'EXPRESSION Angular JS qui convient. Le fichier exercice0.png contient la liste des expressions que vous pouvez utiliser. La documentation officielle concernant les expressions est disponible ici : https://docs.angularjs.org/guide/expression
      */
    </script>
  </head>
  <body>
    <p>Que donne la somme de 36344.789 et 5422.995432 ? <strong>{{36344.789 + 5422.995432}}</strong></p>
    <p>Que donne &laquo;Bonjour&raquo; et &laquo;le Monde&raquo; ? <strong>{{"Bonjour" + "le Monde"}}</strong></p>
    <p>Quel est le reste de la division entière de 4321 par 1234 ? <strong>{{4321%1234}}</strong></p>
    <p>Est-il vrai que 0.000005 est strictement supérieur à 0.00005 ? {{0.000005 > 0.00005}}</p>
    <p>Que donne l'équation ((3x + 2) - (43x * (9y + 6))) / (2y - 7) avec x = 4 et y = 19 (vous devez commencer par déclarer les 2 variables) ? <strong>{{ x = 4; y = 19; ((3*x + 2) - (43*x * (9*y + 6))) / (2*y - 7)}}</strong></p>



    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>
      (function(){
          var monModule = angular.module('angular_test', []);
          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();
    </script>
  </body>
</html>
