<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 7</title>
    <script>
      //Enoncé
      /* Les directives ng-show et ng-hide */
      /**************************************************************************************************
        Les directive ng-show et ng-hide permettent d'affecter une classe CSS définie par AngularJS si la valeur de l'expression fournie est équivalente à true. Dans le cas de la directive ng-show, si l'expression fournie est équivalente à true, alors l'élément HTML est affiché. Si l'expression fournie est équivalente à false, alors l'élément HTML est masqué. Pour la directive ng-hide on obtiendra le comportement inverse.

        La documentation officielle de la directive ng-show est disponible ici : https://docs.angularjs.org/api/ng/directive/ngShow
        La documentation officielle de la directive ng-hide est disponible ici : https://docs.angularjs.org/api/ng/directive/ngHide
      **************************************************************************************************/

      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice7. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Créez un formulaire avec une liste de sélection. Les différentes options sont :
        - bleu;
        - blanc;
        - rouge;
        - bleu et blanc;
        - bleu et rouge;
        - rouge et bleu;
        - bleu blanc rouge.
      */

      /*
        3. Créez 3 div auxquelles vous affecterez des propriétés de style de telle sorte qu'elles s'affichent sous la forme de 3 ronds de couleur (bleu, blanc et rouge).
      */

      /*
        4. Combinez la directive qui vous permet d'associer une valeur de formulaire à une variable, ainsi que l'utilisation des directive ng-show et ng-hide pour faire en sorte que lorsqu'on effectue un choix dans la liste de sélection on ne voit apparaître que les div qui correspondent au choix effectué.
      */

      /****************************************************************************************************
      Indication : Les expressions peuvent contenir des calcul logiques. Exemple : {{ 1 && 0 }} donne 0 alors que {{ 1 || 0 }} donne 1.
      ****************************************************************************************************/
    </script>
    <style type="text/css" media="screen">
      .rouge {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: firebrick;
        border: 1px black solid;
        display: inline-block;
        margin-top: 50px;
      }
      .bleu {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: blue;
        border: 1px black solid;
        display: inline-block;
        margin-top: 50px;
      }
      .blanc {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: white;
        border: 1px black solid;
        display: inline-block;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div>
      <h4>Choix des couleurs</h4>
      <h4>Palette sélectionnée</h4>
    </div>

    <form name="monFormulaire">
      <select name="selectionCouleurs" ng-model="couleur">
        <option value="bleu">bleu</option>
        <option value="blanc">blanc</option>
        <option value="rouge">rouge</option>
        <option value="bleuBlanc">bleu et blanc</option>
        <option value="bleuRouge">bleu et rouge</option>
        <option value="bleuBlancRouge">bleu blanc rouge</option>
      </select>
    </form>

    <div class="bleu" ng-show="couleur == 'bleu' || couleur == 'bleuRouge' || couleur == 'bleuBlanc' || couleur == 'bleuBlancRouge'"></div>
    <div class="blanc" ng-show="couleur=='blanc' || couleur == 'bleuBlanc' ||couleur == 'bleuBlancRouge'"></div>
    <div class="rouge" ng-show="couleur=='rouge' || couleur == 'bleuRouge' || couleur == 'bleuBlancRouge'"></div>

    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>
      (function(){
          var monModule = angular.module('angular_test', []);
          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();
    </script>
  </body>
</html>
