<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 3</title>
    <script>
      //Enoncé
      /* La directive ng-repeat */
      /**************************************************************************************************
        La directive ng-repeat permet de répéter une branche de l'arborescence du DOM pour chaque élément d'une collection (i.e d'un tableau ou d'un objet). La documentation officielle de la directive ng-repeat est disponible ici : https://docs.angularjs.org/api/ng/directive/ngRepeat
      **************************************************************************************************/

      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice3. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. A l'aide d'une expression et sur une div, initialisez une variable (propriété du contexte) classe qui est un objet. Les caractéristiques de votre classe sont :
        - Son nom, qui est une chaîne de caractère;
        - Sa spécialité, qui est une chaîne de caractère;
        - Ses inscrits, qui est un tableau qui contient 3 objets qui décrivent les caractéristiques d'un élève.

        Les caractéristiques d'un élève sont :
        - Son prénom, qui est une chaîne de caractère;
        - Son nom, qui est une chaîne de caractère;
        - Son âge, qui est un nombre.
      */

      /*
        5. A l'aide d'une expression, affichez à l'intérieur de la div le prénom, nom et l'âge de chaque élève de la classe en utilisant la directive présentée en introduction.
      */

      /*
        6. A l'aide d'une expression, affichez à l'intérieur d'un paragraphe de texte le nombre d'inscrits (vous devez vous baser sur le tableau des inscrits pour obtenir cette information).
      */
    </script>
  </head>
  <body>
    <div ng-init="classe={nom:'diw', specialite:'JS', inscrits: [{prenom:'brad', nom:'pitt', age:35}, {prenom:'leonardo', nom:'di caprio', age:29}, {prenom:'george', nom:'clooney', age:36}]}">
      <h4>Les inscrits</h4>
      <ul>
        <li>{{classe.inscrits[0].prenom + " " + classe.inscrits[0].nom + ", " + classe.inscrits[0].age + " ans"}}</li>
        <li>{{classe.inscrits[1].prenom + " " + classe.inscrits[1].nom + ", " + classe.inscrits[1].age + " ans"}}</li>
        <li>{{classe.inscrits[2].prenom + " " + classe.inscrits[2].nom + ", " + classe.inscrits[2].age + " ans"}}</li>
      </ul>
      <p>Quel est le nombre d'inscrits ?</p>
      {{"Il y a " + classe.inscrits.length + " inscrits"}}
    </div>


    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>
      (function(){
          var monModule = angular.module('angular_test', []);
          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();
    </script>
  </body>
</html>
