<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 4</title>
    <script>
      //Enoncé
      /* La directive ng-model et la prise en charge des formulaires des champs par Angular JS */
      /**************************************************************************************************
        Lorsqu'on utilise AngularJS, si on créé une balise form avec un attribut name, la valeur de cet attribut fait office de nom de variable (propriété du contexte) pour accéder aux propriétés définies par AngularJS du formulaire. La prise en charge de la balise form est documentée ici dans la documentation officielle d'AngularJS : https://docs.angularjs.org/api/ng/directive/form
      **************************************************************************************************/

      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice4. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Créez un formulaire dans votre document Web et précisez un attribut name sur le formulaire. Créez un paragraphe et affichez à l'aide d'une expression le contenu de la variable (propriété du contexte) correspondant à votre formulaire. Créez un second paragraphe et, à l'aide d'une expression affichez la valeur de l'attribut name du formulaire.
      */

      /*
        3. Dans le formulaire que vous avez créé, créez les champs de saisie suivants :
        - Nom, qui est un champ texte;
        - Prénom, qui est un champ texte;
        - Adresse e-mail, qui est un champ texte;
        - Date de naissance, qui est un champ texte.
        N'oubliez pas de spécifier un attribut name pour chacun de ces champs.
      */

      /**************************************************************************************************
        La directive ng-model permet d'associer le contenu d'un champ de type input, select ou textarea à une variable (propriété du contexte). La documentation officielle de la directive ng-model est disponible ici : https://docs.angularjs.org/api/ng/directive/ngModel
      ***************************************************************************************************/

      /*
        4. Sur la div, initialisez un objet vide. Sur chacun des champs de votre formulaire utilisez la directive ng-model pour associer à chaque champ du formulaire une propriété de votre choix de l'objet initialisé.
      */

      /***************************************************************************************************
        Lorsqu'on utilise AngularJS, si on crée des éléments HTML pour de type input, select ou textarea à l'intérieur d'un formulaire et qu'on associe leur contenu à une variable (propriété du contexte) à l'aide de la directive ng-model; leurs attributs name sont alors utilisés pour créer des propriétés de l'objet correspondant au formulaire.

        Ces propriétés contiennent alors les objets contenant un ensemble d'informations relatives au champ. La prise en charge (générale) des champs de saisie est documentée ici dans la documentation officielle d'AngularJS : https://docs.angularjs.org/api/ng/directive/input
      ***************************************************************************************************/

      /*
        5. Assurez vous d'avoir nommé chacun des champs de votre formulaire. Pour chaque champ créez un paragraphe de texte et utilisez une expression pour afficher l'objet correspondant au champ. Par exemple si votre formulaire à pour nom monFormulaire et votre champ monChamp, alors l'expression à utiliser sera {{ monFormulaire.monChamp }}
      */

      /*
        5. Assurez vous d'avoir nommé chacun des champs de votre formulaire. Pour chaque champ créez un paragraphe de texte et utilisez une expression pour afficher l'objet correspondant au champ. Par exemple si votre formulaire à pour nom monFormulaire et votre champ monChamp, alors l'expression à utiliser sera {{ monFormulaire.monChamp }}
      */

      /*
        6. Saisissez des valeurs de test dans vos champ. Que remarquez vous ? Modifiez les expressions que vous avez utilisé dans vos paragraphe pour n'afficher que la valeur du champ considéré.
      */
    </script>
  </head>
  <body>
    <div>
      <h4>Formulaire</h4>
    </div>
    <form name="monFormulaire">
      <label>prenom</label>
      <input name="prenom" type="text" ng-model="prenom"></input><br/>
      <label>nom</label>
      <input name="nom" type="text" ng-model="nom"></input><br/>
      <label>email</label>
      <input name="email" type="text" ng-model="email"></input><br/>
      <label>date de naissance</label>
      <input name="dateNaissance" type="text" ng-model="dateNaissance"></input>
    </form>
    <p>{{monFormulaire}}</p>
    <p>{{monFormulaire.$name}}</p>


    <p> {{monFormulaire.prenom.$viewValue}} </p>
    <p> {{monFormulaire.nom.$viewValue}} </p>
    <p> {{monFormulaire.email.$viewValue}} </p>
    <p> {{monFormulaire.dateNaissance.$viewValue}} </p>


    <script src="angular.min.js" type="text/javascript"></script>
    <script>
      (function(){
          var monModule = angular.module('angular_test', []);
          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();
    </script>
  </body>
</html>
