<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 2</title>
    <script>
      //Enoncé
      /* La directive ng-init */
      /**************************************************************************************************
        La directive ng-init (attribut de balise non standard introduit par Angular JS) permet d'initialiser des propriétés dans un contexte. Ici nous n'aurons qu'un seul contexte : l'application. La directive ng-init prend pour valeur une expression. La documentation officielle de la directive ng-init est disponible ici : https://docs.angularjs.org/api/ng/directive/ngInit
      **************************************************************************************************/

      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice2. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. A l'aide d'une expression et sur une div, initialisez une variable (qui, on le verra plus tard, est une propriété du contexte) promotions qui contient 5 éléments qui sont les 5 dernières années (2010 à 2015).
      */

      /*
        3. A l'aide d'une expression affichez votre année de promotion dans le paragraphe à l'intérieur de la div.
      */

      /*
        4. A l'aide d'une expression et sur une div, initialisez une variable (propriété du contexte) classe. Cette variable classe est un objet. Les caractéristiques de votre objet classe sont :
        - Son nom, qui est une chaîne de caractère;
        - Sa spécialité, qui est une chaîne de caractère;
        - Son nombre d'inscrits, qui est un nombre.
      */

      /*
        5. A l'aide d'une expression, affichez à l'intérieur de la div le nom de votre classe avec sa spécialité sur une même ligne. Affichez sur une autre ligne le nombre d'inscrits de votre classe.
      */
    </script>
  </head>
  <body>
    <div>
    <div ng-init="promotions=[2011, 2012, 2013, 2014, 2015]"></div>
      <h4>Promotion</h4>
      <p>Quelle est ma promotion ?</p>
      => {{promotions[4]}}
    </div>
    <div ng-init="classe = {nom: 'diw', specialite: 'JS', nombreInscrits: 17}">
      <h4>Classe</h4>
      <p>Quelle est l'intitulé de ma formation ? </p>
      => {{classe.nom + classe.specialite}}
      <p>Quel est le nombre d'inscrits dans ma formation ?</p>
      => {{classe.nombreInscrits}}
    </div>


    <script src="angular.min.js" type="text/javascript"></script>
    <script>
      (function(){
          var monModule = angular.module('angular_test', []);
          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();
    </script>
  </body>
</html>
