<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--
ng-model permet d'envoyer en temps reelle les infos mis dans un champ de saisie
-->

<body ng-app>
   <input type="text" ng-model="task">
   
   {{"Salut " + task}}
   <!--ou-->
   Salut {{task}}
   <!--ou-->
   <p>Salut {{task}}</p>
   
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>
</html>