<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--
ng-init permet de creer une variable.
-->

<body ng-app>
   
   <div ng-init="users=['marc','luc','jean']">
       <div ng-init="maVariable='lalala'">
           {{users[1]}}
           {{maVariable}}
       </div>
   </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>
</html>