<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--
ng-repeat permet de parcourir les champs d'un tableau. Il ne fut pas oublier de mettre la variable 'users' dans une autre variable pour l'utiliser.
-->

<body ng-app>
   
   <div ng-init="users=['marc','luc','jean']">
       <ul>
           <li ng-repeat="user in users">
               {{user}}
           </li>
       </ul>
   </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>
</html>