<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--
Pour filter les infos ou les tranformer.
-->

<body ng-app>
   
   <div ng-init="users=['marc','luc','jean']">
       <ul>
           <li ng-repeat="user in users | filter:'marc'">
               {{user | uppercase}}
           </li>
       </ul>
       {{users | filter:'m'}}
   </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>