<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--
Pour faire une recherche dans une barre de recherche avec affichage en temps réel des résultats.
Tout d'abod, on créer une barre de recherche (input) avec un ng-model. Puis on créer un ng-repeat pour parcourir le tableau, avec un filtre qui sera attaché au ng-model.
-->

<body ng-app>
   
   <input type="text" ng-model="search">
   
   <div ng-init="users=['marc','luc','jean']">
       <ul>
           <li ng-repeat="user in users | filter:search">
               {{user | uppercase}}
           </li>
       </ul>
       {{users | filter:'m'}}
   </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>