<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--
orderBy permet de classer par ordre alphabetique les résultats de la recherche. + ou - permet de rechercher par ordre croissant ou décroissant.
-->

<body ng-app>
   
   <input type="text" ng-model="search">
   
   <div ng-init="users=[{username:'Marc', content:'Je suis le premier'},{username:'Jean',content:'Je suis le deuxieme'},{username:'John',content:'Je suis le troisieme'}]">
       <ul>
           <li ng-repeat="user in users | filter:search | orderBy:'+username'">
               {{user | uppercase}}
           </li>
       </ul>
       {{users | filter:'m'}}
   </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>