<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!--
Permet à l'utilisateur de choisir son ordre avec un select. De base, il sera classé par la première option, c'est à dire 'username'. Si on veut qu'il classe plutot par contenu, il faut le préciser comme dans l'exemple.
-->

<body ng-app>
   
   <input type="text" ng-model="search">
   <select name="" id="" ng-model="order">
       <option value="username">Organiser par nom</option>
       <option value="content">Organiser par contenu</option>
   </select>
   
   <div ng-init="users=[{username:'Marc', content:'Je suis le premier'},{username:'Jean',content:'Je suis le deuxieme'},{username:'John',content:'Je suis le troisieme'}]">
       <ul>
           <li ng-repeat="user in users | filter:search | orderBy:order">
              <!--<li ng-repeat="user in users | filter:{content:search} | orderBy:order">-->
               {{user | uppercase}}
           </li>
       </ul>
       {{users | filter:'m'}}
   </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>