<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
    <!--

ng-app sert a initialisé angular
ng-init sert à créer une variable
ng-model envoi les infos d'un input/textarea ou autre 

-->
    <div ng-app="" ng-init="firstName='John'">

        <p>Name: <input type="text" ng-model="firstName"></p>
        <p>You wrote: {{ firstName }}</p>

    </div>
</body>

</html>
