<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
    <!--

ng-app sert a initialisé angular
ng-init sert à créer une variable
ng-model envoi les infos d'un input/textarea ou autre 

-->
    <div ng-app="" ng-init="quantity=1;price=5">

        Quantity: <input type="number" ng-model="quantity"> Costs: <input type="number" ng-model="price"> Total in dollar: {{ quantity * price }}

    </div>
</body>

</html>
