<h3>Parent Component</h3>

<label>Bitcoin price</label>
<input type="text" #pcomponent (keyup)="0"/>

<p>Value of child component is:  {{ CData }}</p>
<app-child [PData]="pcomponent.value" (childEvent)="CData=$event"></app-child>
