body{
    background-color: aqua;
}
.bandeau{
    background-color: darkblue;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 50px;
    
}
.titre{
    color: orangered;
    text-align: center;
    font-size: 70px;
    vertical-align: middle;
    margin-top: 9px;
    font-style: italic;
    font-weight: 900;
}
.menu{
    background-color: darkblue;
    width: 200px;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 0px;
    border-radius: 0px 20px 20px 0px;
}
.petit_menu{
    background-color: antiquewhite;
    width: 100px;
    height: 30px;
    border-radius: 0px 0px 10px 0px;
}
.mnu{
    color: aqua;
    text-align: center;
    position: absolute;
    top: -17px;
    left: 30px;
    font-size: 20px
}
ul{
    list-style: none;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    margin-left: -40px;
    margin-top: 25px;
    color: white;
}
.fond_paragraphe{
    background-color: aliceblue;
    width: 600px;
    height: 700px;
    position: absolute;
    top: 150px;
    left: 250px;
}
.para{
    margin: 20px 10px 10px 10px;
    text-align: justify;
}