doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title Home
    |     
    link(rel='stylesheet', href='style.css')
  body
    img(src='/bandeau.jpg')
    |     
    h1= foo
    |     
    ul
      li Page d&apos;accueil
      |         
      li Page 1
      |         
      li Page 2
    |   
    p= lalala
