doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Bare - Start Bootstrap Template CONTACT
    // Bootstrap Core CSS
    link(href='bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    style.
      body {
      padding-top: 70px;
      /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
      }
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='#') Start Bootstrap
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='http://192.168.106.26:8888/') About
            |                     
            li
              a(href='http://192.168.106.26:8888/services') Services
            |                     
            li
              a(href='http://192.168.106.26:8888/contact') Contact
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      .row
        .col-lg-12.text-center
          h1 A Bootstrap Starter Template CONTACT
          |                 
          p.lead Complete with pre-defined file paths that you won&apos;t have to change!
          |                 
          ul.list-unstyled
            li Bootstrap v3.3.6
            |                     
            li jQuery v1.11.1
      // /.row
    // /.container
    // jQuery Version 1.11.1
    script(src='jquery.js')
    // Bootstrap Core JavaScript
    script(src='bootstrap.min.js')
