<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../angular.min.js"></script>
</head>

<body ng-app="app" ng-controller="myCtrl">
    <ma-directive></ma-directive>
    <style>
        body {
            background-color: black;
        }

        p,
        div {
            color: white;
        }
    </style>
    <script>
        angular
            .module('app', [])
            .controller('myCtrl', ($scope) => {
                $scope.customer = {
                    name: 'Naomi',
                    address: '1600 Amphitheatre'
                }
            })
            .directive("maDirective",()=>{
                return {
                    restrict:"E",
                    template : "<p>nom : {{customer.name}}, adresse : {{customer.address}}</p>"
                }
            })
    </script>
</body>

</html>