<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 9</title>
    <script>
      //Enoncé
      /* Les filtres */
      /***********************************************************************************************************
        Les filtres sont des fonctions définies dans AngularJS et qui peuvent être utilisée dans les expressions à l'aide du symbole | (qu'on appelle pipe - tube en français). La documentation officielle des filtres est disponible ici : https://docs.angularjs.org/api/ng/filter
      ***********************************************************************************************************/
      
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice9. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */
      
      /*
        1. Initialisez un tableau qui contient 3 objets qui représentent des voitures. Une voiture à pour caractéristiques :
        - Son prix, qui est un nombre;
        - Son modèle, qui est un texte;
        - Sa puissance, qui est un texte;
        - Sa date de fabrication, qui est un nombre (un timestamp).
      */

      /*
        2. Affichez, pour chacune des voiture :
        - Son prix formaté avec le filtre approprié;
        - Sa date de fabrication formatée avec le filtre approprié;
        - Sa puissance formatée en majuscule;
        - Son modèle formaté en minuscule.
        L'affichage sera ordonnancé par date croissante.
      */
      </script>
  </head>
  <body>
    <div ng-init="aaa=[{prix:500, modele:'FIAT', puissance:'beaucoup', datedefabric:957351587},{prix:600, modele:'Mitsubishi', puissance:'Vraiment beaucoup', datedefabric:957351587},{prix:700, modele:'Honda', puissance:'beaucoup beaucoup', datedefabric:957351587}]">
      <h4>Ma collection de voitures</h4>
    </div>
    <p ng-repeat="lalala in aaa">{{lalala.prix | currency}}</p> <!-- 'ng-repeat' examine 'lalala' qui est un racourcit pour 'aaa'. le tube (|) convertit l'info comme on lui demande. Par exemple, 'currency' convertit une donnée numérique en prix. -->
    <p ng-repeat="lilili in aaa">{{lilili.datedefabric | date}}</p>
    <p ng-repeat="lelele in aaa">{{lelele.puissance | uppercase}}</p>
    <p ng-repeat="lalala in aaa">{{lalala.modele | lowercase}}</p>
    <script src="angular.min.js"></script>
    <script>
        //crée un module angular
        angular.module('monModuledule', []); //setter

        //var monModule = angular.module('monMonduledule'); // getter


        angular.bootstrap(window.document, ['monModuledule'], {
            strictDi: true
        });
    </script>
  </body>
</html>