<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 3</title>
    <script>
        //Enoncé
        /* La directive ng-repeat */
        /**************************************************************************************************
          La directive ng-repeat permet de répéter une branche de l'arborescence du DOM pour chaque élément d'une collection (i.e d'un tableau ou d'un objet). La documentation officielle de la directive ng-repeat est disponible ici : https://docs.angularjs.org/api/ng/directive/ngRepeat.
        **************************************************************************************************/

        /*
          1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice3. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
        */

        /*
          2. A l'aide d'une expression et sur une div, initialisez une variable (propriété du contexte) classe qui est un objet. Les caractéristiques de votre classe sont :
          - Son nom, qui est une chaîne de caractère;
          - Sa spécialité, qui est une chaîne de caractère;
          - Ses inscrits, qui est un tableau qui contient 3 objets qui décrivent les caractéristiques d'un élève.
          
          Les caractéristiques d'un élève sont :
          - Son prénom, qui est une chaîne de caractère;
          - Son nom, qui est une chaîne de caractère;
          - Son âge, qui est un nombre.
        */

        /*
          5. A l'aide d'une expression, affichez à l'intérieur de la div le prénom, nom et l'âge de chaque élève de la classe en utilisant la directive présentée en introduction.
        */

        /*
          6. A l'aide d'une expression, affichez à l'intérieur d'un paragraphe de texte le nombre d'inscrits (vous devez vous baser sur le tableau des inscrits pour obtenir cette information).
        */
    </script>
</head>

<body>
    <div ng-init="maClasse={nom:'Djoher', classe:' Javascript', tableau: [{prenom : 'jean', nom : 'Durand', age : 30},{prenom : 'Louis', nom : 'Blanc', age : 25},{prenom : 'Roger', nom : 'Ernandez', age : 35}]}">  <!--créer la variable ‘maClasse’ qui sera un objet qui contiendra un tableau qui contiendra un objet…-->
        <p ng-repeat="kjhk in maClasse.tableau">{{kjhk.prenom + kjhk.nom + kjhk.age}}</p> <!-- 'ng-repeat permet de parcourir la variable. Ici, on donne d'abord un nom (qui sera un raccourcit) à maClasse.tableau. Ensuite, grâce à ce nom-raccourcit (qui est kjhk), on parcourt les objets qui sont dans le tableau. -->
        <p>{{maClasse.tableau.length}}</p> <!-- ici, on affiche le nombre d'objet que contient le tabeau dans la variable 'maClasse'-->
    </div>
    <div>
        <h4>Les inscrits</h4>
        <ul>
            <li></li>
        </ul>
        <p>Quel est le nombre d'inscrits ?</p>
        <p>{{maClasse.tableau.length}}</p>
    </div>
    <script src="angular.min.js"></script>
    <script>
        //crée un module angular
        angular.module('monModuledule', []); //setter

        //var monModule = angular.module('monMonduledule'); // getter


        angular.bootstrap(window.document, ['monModuledule'], {
            strictDi: true
        });
    </script>
</body>

</html>