<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Exo_07.css" />
    <title>AngularJS : Les Expressions : Exercice 7</title>
    <script>
        //Enoncé
        /* Les directives ng-show et ng-hide */
        /**************************************************************************************************
          Les directive ng-show et ng-hide permettent d'affecter une classe CSS définie par AngularJS si la valeur de l'expression fournie est équivalente à true. Dans le cas de la directive ng-show, si l'expression fournie est équivalente à true, alors l'élément HTML est affiché. Si l'expression fournie est équivalente à false, alors l'élément HTML est masqué. Pour la directive ng-hide on obtiendra le comportement inverse. 
          
          La documentation officielle de la directive ng-show est disponible ici : https://docs.angularjs.org/api/ng/directive/ngShow
          La documentation officielle de la directive ng-hide est disponible ici : https://docs.angularjs.org/api/ng/directive/ngHide
        **************************************************************************************************/

        /*
          1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice7. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
        */

        /*
          2. Créez un formulaire avec une liste de sélection. Les différentes options sont :
          - bleu;
          - blanc;
          - rouge;
          - bleu et blanc;
          - bleu et rouge;
          - rouge et bleu;
          - bleu blanc rouge.
        */

        /*
          3. Créez 3 div auxquelles vous affecterez des propriétés de style de telle sorte qu'elles s'affichent sous la forme de 3 ronds de couleur (bleu, blanc et rouge).
        */

        /*
          4. Combinez la directive qui vous permet d'associer une valeur de formulaire à une variable, ainsi que l'utilisation des directive ng-show et ng-hide pour faire en sorte que lorsqu'on effectue un choix dans la liste de sélection on ne voit apparaître que les div qui correspondent au choix effectué.
        */

        /****************************************************************************************************
        Indication : Les expressions peuvent contenir des calcul logiques. Exemple : {{ 1 && 0 }} donne 0 alors que {{ 1 || 0 }} donne 1.
        ****************************************************************************************************/
    </script>
</head>

<body>
    <div ng-init="aaa"> <!-- la variable 'aaa' est créee. -->
        <h4>Choix des couleurs</h4>
        <SELECT name="nom" size="1"  ng-model="aaa"> <!-- Le choix de Select sera envoyé à la variable 'aaa' -->
            <OPTION>Bleu</OPTION>
            <OPTION>Blanc</OPTION>
            <OPTION>Rouge</OPTION>
            <OPTION>Bleu et blanc</OPTION>
            <OPTION>Bleu et rouge</OPTION>
            <OPTION>Rouge et blanc</OPTION>
            <OPTION>Bleu blanc rouge</OPTION>
        </SELECT>
        <h4>Palette sélectionnée</h4>
        <div class="Bleu" ng-show="aaa == 'Bleu' || aaa == 'Bleu et blanc' || aaa=='Bleu et rouge' || aaa=='Bleu blanc rouge'"></div> <!-- Si la variable 'aaa' est égal à Bleu, Bleu et blanc, Bleu et rouge ou Bleu blanc rouge, la div s'affiche. -->
        <div class="Blanc" ng-show="aaa == 'Blanc' || aaa == 'Bleu et blanc' || aaa=='Rouge et blanc'|| aaa=='Bleu blanc rouge'"></div>
        <div class="Rouge" ng-show="aaa == 'Rouge' || aaa=='Bleu et rouge' || aaa=='Rouge et blanc' || aaa=='Bleu blanc rouge'"></div>
    </div>
    <script src="angular.min.js"></script>
    <script>
        //crée un module angular
        angular.module('monModuledule', []); //setter

        //var monModule = angular.module('monMonduledule'); // getter


        angular.bootstrap(window.document, ['monModuledule'], {
            strictDi: true
        });
    </script>
</body>

</html>