<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 4</title>
    <script>
        //Enoncé
        /* La directive ng-model et la prise en charge des formulaires des champs par Angular JS */
        /**************************************************************************************************
          Lorsqu'on utilise AngularJS, si on créé une balise form avec un attribut name, la valeur de cet attribut fait office de nom de variable (propriété du contexte) pour accéder aux propriétés du formulaire définies par AngularJS. La prise en charge de la balise form est documentée ici dans la documentation officielle d'AngularJS : https://docs.angularjs.org/api/ng/directive/form
        **************************************************************************************************/

        /*
          1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice4. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
        */

        /*
          2. Créez un formulaire dans votre document Web et précisez un attribut name sur le formulaire. Créez un paragraphe et affichez à l'aide d'une expression le contenu de la variable (propriété du contexte) correspondant à votre formulaire. Créez un second paragraphe et, à l'aide d'une expression affichez la valeur de l'attribut name du formulaire. Attention : votre formulaire ne doit pas avoir d'attribut action. Si le formulaire possède un attribut action, Angular JS ne désactive pas l'évènement submit par défaut du navigateur Internet.
        */

        /*
          3. Dans le formulaire que vous avez créé, créez les champs de saisie suivants :
          - Nom, qui est un champ texte;
          - Prénom, qui est un champ texte;
          - Adresse e-mail, qui est un champ texte;
          - Date de naissance, qui est un champ texte.
          N'oubliez pas de spécifier un attribut name pour chacun de ces champs.
        */

        /**************************************************************************************************
          La directive ng-model permet d'associer le contenu d'un champ de type input, select ou textarea à une variable (propriété du contexte). La documentation officielle de la directive ng-model est disponible ici : https://docs.angularjs.org/api/ng/directive/ngModel
        ***************************************************************************************************/

        /*
          4. Sur la div, initialisez un objet vide. Sur chacun des champs de votre formulaire utilisez la directive ng-model pour associer à chaque champ du formulaire une propriété de votre choix de l'objet initialisé.
        */

        /*
          5. Pour chaque champ créez un paragraphe de texte et utilisez une expression pour afficher la propriété de l'objet initialisé correspondant au champ. Par exemple si votre objet s'appelle donnees et la propriété correspond au champ dateDeNaissance, alors l'expression à utiliser sera {{ donnees.dateDeNaissance }}
        */

        /*
          6. Saisissez des valeurs de test dans vos champ. Que remarquez vous ?
        */

        /***************************************************************************************************
          Lorsqu'on utilise AngularJS, si on crée des éléments HTML de type input, select ou textarea à l'intérieur d'un formulaire et qu'on associe leur contenu à une variable (propriété du contexte) à l'aide de la directive ng-model; leurs attributs name sont alors utilisés pour créer des propriétés de l'objet correspondant au formulaire. 
          
          Ces propriétés contiennent alors les objets contenant un ensemble d'informations relatives au champ. La prise en charge (générale) des champs de saisie est documentée ici dans la documentation officielle d'AngularJS : https://docs.angularjs.org/api/ng/directive/input
        ***************************************************************************************************/

        /*
          7. Assurez vous d'avoir nommé chacun des champs de votre formulaire. Pour chaque champ créez un paragraphe de texte et utilisez une expression pour afficher l'objet correspondant au champ. Par exemple si votre formulaire à pour nom monFormulaire et votre champ monChamp, alors l'expression à utiliser sera {{ monFormulaire.monChamp }}
        */

        /*
          8. Saisissez des valeurs de test dans vos champ. Que remarquez vous ? Modifiez les expressions que vous avez utilisé dans vos paragraphe pour n'afficher que la valeur du champ considéré.
        */
    </script>
</head>

<body>

    <h4>Formulaire</h4>

    <form action="/ma-page-de-traitement" method="post" name="tactac">    <!-- Ici on creer une form. Une form est un espace où on va mettre des champs à remplir -->
        <div ng-init="monObjet={}">    <!-- Les champs seront dans une div. On profite de cette div pour créer la variable 'monObjet' qui sera un objet -->

            <label for="nom">Nom</label>
            <input ng-model="monObjet.leNom" type="text" name="lololo" /> <!-- Avec 'ng-model', tout ce qui sera entré dans le champs sera envoyé dans un emplacement objet qui sera crée dans la variable 'monObjet'. Cet objet aura comme nom 'leNom'. -->
            <p>{{monObjet.leNom}}</p>    <!-- Affiche l'objet 'leNom' qui est dans la variable 'monObjet' -->

            <label for="prenom">Prénom</label>
            <input ng-model="monObjet.lePrenom" type="" name="prenom" />
            <p>{{monObjet.lePrenom}}</p>

            <label for="mail">Adresse mail</label>
            <input ng-model="monObjet.LAdresse" type="" name="adresseMail" />
            <p>{{monObjet.LAdresse}}</p>

            <label for="Date de naissance">date de naissance</label>
            <input ng-model="monObjet.dateDeNaissance" type="" name="dateDeNaissance" />
            <p>{{monObjet.dateDeNaissance}}</p>
            <p>{{monObjet}}</p> <!-- Affiche le contenu de la variable -->

        </div>

        <p>{{tactac}}</p>
    </form>
    <script src="angular.min.js"></script>
    <script>
        //crée un module angular
        angular.module('monModuledule', []); //setter

        //var monModule = angular.module('monMonduledule'); // getter


        angular.bootstrap(window.document, ['monModuledule'], {
            strictDi: true
        });
    </script>
</body>

</html>