<!doctype html>
<html lang="fr" ng-app="angularjsExercice6" ng-strict-di>

<head>
    <meta charset="utf-8">
    <title>AngularJS : Les Expressions : Exercice 6</title>
    <script>
        //Enoncé
        /* Les directives ng-submit, ng-src*/
        /**************************************************************************************************
          La directive ng-submit permet d'associer une expression AngularJS à l'événement onsubmit. Cette directive annule comportement par défaut du formulaire (il n'est pas envoyé !). La documentation officielle de la directive ng-submit est disponible ici : https://docs.angularjs.org/api/ng/directive/ngSubmit

          La directive ng-src permet d'associer une expression AngularJS à l'attribut src d'une balise img par exemple (si on utilisait l'attribut src directement, le navigateur essaierai d'interpréter l'attribut src contenant l'expression pendant le chargement du document avant que AngularJS ne soit chargé !). La documentation officielle de la directive ng-src est disponible ici : 
        **************************************************************************************************/

        /*
          1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice6. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
        */

        /*
          2. Créez un formulaire contenant un champ de saisie texte et un bouton contenant le texte 'afficher'. A l'aide d'une expression, associez le contenu du champ de saisie à une variable saisie.
        */

        /*
          3. Créez une balise image. Utilisez l'attribut ng-submit pour affecter le contenu de la variable saisie à une variable src que vous utilisez sur la balise image à l'aide de la directive ng-src. Attention : la directive ng-src a pour valeur un template, pas une expression. 
        */

        /**************************************************************************************************
          Lorsque vous saisissez l'url d'une image dans le champ de saisie et que vous cliquez sur le bouton afficher, l'image doit être téléchargée et affichée par la navigateur Internet. 
           
        **************************************************************************************************/
    </script>
</head>

<body>
    <div ng-init="jeSaisPas={}; jeSaisPas2={}"> <!-- On créer deux variables différentes qui seront toutes les deux des objets -->
        <h4>Le formulaire</h4>
        <form ng-submit="jeSaisPas2.lien = jeSaisPas.lien"> <!-- 'ng-submit' fait que les infos sont validées que lorsqu'on clique sur 'Submit'. ces infos se trouvent dans 'jeSaisPas2.lien' qui seront données par la variable 'jeSaisPas.lien'. -->
            Entrez votre lien:
            <input type="text" ng-model="jeSaisPas.lien" name="text" />
            <input type="submit" id="submit" value="Submit"/>
        </form>
        <p>{{jeSaisPas}}</p>
        <h4>L'image</h4>
        <img ng-src="{{jeSaisPas2.lien}}"> <!-- 'ng-src' dit que le lien utilisé pour l'image se trouve dans la variable 'jeSaisPas2.lien' -->
    </div>


    <script src="angular.min.js"></script>
    <script>
        //crée un module angular
        angular.module('monModuledule', []); //setter

        //var monModule = angular.module('monMonduledule'); // getter


        angular.bootstrap(window.document, ['monModuledule'], {
            strictDi: true
        });
    </script>
</body>

</html>