<div [formGroup]="orderForm">
  <div formArrayName="items">
    <div *ngFor="let item of orderForm.get('items').controls; let i = index;">
    <div [formGroupName]="i" *ngIf="stepNumber == i">
      <input formControlName="name" placeholder="Item name">
      <input formControlName="description" placeholder="Item description">
      <input formControlName="price" placeholder="Item price">
    </div>
  </div>
  </div>
</div>
<button (click)="addItem()">Ajouter</button>

<div [formGroup]="orderForm">
    <div formArrayName="items">
        <div *ngFor="let item of orderForm.get('items').controls; let i = index;">
        Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }}
      </div>
      </div>
</div>
