body{
    padding: 20px;
    font-family: sans-serif;
    background-color: #DDD;
}
.avatar{
    width: 200px;
    height: 230px;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
}
.avatar .name{
    width: 200px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #60B97D;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    border-radius: 0 0 10px 10px;
}