body{
    background-color: darkblue;
}
@media only screen and (max-width:10px){
    body{
        background-color: chartreuse;
        font-size: 150%;
    }
}
@media print{
    p{
        color: black;
    }
}
.fond_gris{
    background-color: azure;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-left: 4%;
    margin-top: -25px;
    position: fixed;
}
.bandeau_bleu{
    background-color: skyblue;
    width: 100%;
    height: 5%;
    margin-top: 50px;
}
.titre{
    font-size: bold;
    font-style: italic;
    text-align: center;
    font-size: 260%;
    color: azure;
}
.menu{
    background-color: skyblue;
    width: 25%;
    height: 30%;
    margin-top: 50px;
    border-radius: 0px 20px 20px 0px;
    float: left;
}
ul{
    list-style: none;
    font-family: fantasy;
    font-size: 140%;
    text-align: center;
    margin-left: 10%;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-right: 10%;
    color: white;
}
hr{
    color: white;
}
.texte{
    height: 20%;
    width: 60%;
    margin: 48px 70px 100px 225px;
    text-align: justify;
}