/**************************
**********Général**********
**************************/

body{
  margin: 0;
  background-color: #58727f;
  padding: 0 5%;
  font-family: 'Arial','Helvetica', sans-serif;
}

section{
  background-color: #e5e5e5;
  padding: 1%;
  border-radius: 8px;
}

a{
  color: #83afa6;
  text-decoration: none;
}

a:hover{
  color: #d3a284;
}

/***************************
************Menu************
***************************/
h1, nav{
    text-align: center;
}

h1{
  margin: 1% 10% 0;
  width: 80%;
  background-color: #e5e5e5;
  color: #c24d2c;
  border-radius: 8px;
  padding: 5px 0;
}

nav ul{
  padding: 0;
}

nav li{
  display: inline-block;
  padding: 5px 7px;
  background-color: #e5e5e5;
  list-style-type: none;
  margin: 0.5% 1%;
  border-radius: 3px;
  font-weight: bold;
}

/****************************
************Index************
****************************/
h2{
  margin: 10px 0 0;
}

h2 a{
  color: #c24d2c;
}

.indications{
  margin: 0 0 0 5px;
  font-style: italic;
}

.texte{
  margin: 3px 0 7px;
}

#suiteAccueil > p{
  display: inline-block;
  cursor: pointer;
  background-color: #e5e5e5;
  padding: 5px 7px;
  border-radius: 3px;
  background-color: #83afa6;
  color: white;
  width: inherit;
  font-weight: bold;
}

/***************************
*******Administration*******
***************************/

#ajoutArticle input, #ajoutArticle textarea{
  display: block;
  width: 90%;
}

#ajoutArticle #submit{
  margin-top: 10px;
  width: 150px;
}

/***************************
***********Footer***********
***************************/
