<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Évènements : Exercice 4</title>
    <script>
      //Enoncé
      /* Les évènements*/
      /**************************************************************************************************
       A partir d'un objet scope, on peut "émettre" un "message" avec la méthode .$emit() et on peut, à partir du même objet scope ou d'un autre objet scope utiliser la méthode .$on() pour déclencher une fonction si le "message" paramétré à été émis.

       La documentation officielle concernant l'objet scope est disponible ici dans la documentation : https://docs.angularjs.org/api/ng/type/$rootScope.Scope
      **************************************************************************************************/
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice4. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Créez 2 formulaires dans les 2 div du document affiché. Les deux div sont gérées par un contrôleur. Les 2 formulaire sont configurés à comme dans les exercices précédent (1 champ de saisie qui associe sa valeur à une propriété du contrôleur). En revanche, le titre du premier formulaire est statique (pas d'expressions) alors que le titre du second est créé à l'aide d'une expression.

        L'objectif est de faire en sorte qu'en saisissant un texte de votre choix dans le premier formulaire, le titre du second appartenant au scope de l'autre contrôleur soit modifié.
      */

      /*
        Vous devez donc créer 2 directives. Un directive émet un "message" quand la propriété associée au champ de saisie change. L'autre directive change la propriété de titre lorsqu'un le "message" émis est détecté. Vous devez positionner une directive sur la div contenant le titre statique et l'autre directive sur la div contenant le titre dynamique.
      */
    </script>
  </head>
  <body>
    <div form-directive-one>
      <h4>Formulaire 1</h4>
      <form id="form1">
         <input type="text" ng-model="form1Controller.input"/>
      </form>
    </div>
    <div form-directive-two>
      <h4>{{form2Controller.title}}</h4>
      <form id="form2">
         <input type="text" ng-model="form2Controller.input"/>
      </form>
    </div>
    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>

      (function(){

          angular.module('angular_test', [])

            .directive('formDirectiveOne', function() {
              return {
                restrict: 'A',
                controllerAs: "form1Controller",
                controller: function() {
                },
                link: function(scope, element, attributes) {
                  scope.$watch('form1Controller.input', function(input){
                    scope.$emit("newTitle", input);
                  });
                }
              };
            })

            .directive('formDirectiveTwo', function() {
              return {
                restrict: 'A',
                controllerAs: "form2Controller",
                controller: function() {},
                link: function(scope, element, attibutes) {
                   scope.$on("newTitle", function(e, input) {
                      scope.form2Controller.title = input;
                   });
                }
              };
            });

          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();

    </script>
  </body>
</html>
