<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Évènements : Exercice 5</title>
    <script>
      //Enoncé
      /* Les évènements*/
      /**************************************************************************************************
        Utilisons l'objet jQlite fourni par AngularJS à l'exécution de la méthode link d'une directive. Cet objet reprend quelques méthode de la célèbre librairie jQuery. La documentation officielle concernant l'objet jQlite est disponible ici dans la documentation :  https://docs.angularjs.org/api/ng/function/angular.element
      **************************************************************************************************/
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice5. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Créez un formulaire avec une case à cocher et un titre h4.
      */

      /*
        3. Créez une directive que vous devrez positionner sur le titre h4. Dans la méthode link, vous devez utiliser l'objet jQlite fourni en argument pour afficher le texte du titre dans une couleur de votre choix si l'utilisateur coche la case à cocher...
      */

      /*
        4. Faîtes en sorte qu'en tapant le nom d'une couleur (en anglais) dans un champ de saisie celle-ci soit automatique affectée la balise h4. (Vous devez utilisez la méthode .$watch() des objets scope et l'objet jQlite contenant l'élément concerné par la directive).
      */
    </script>
  </head>
  <body>
    <div>
      <h1 dynamic-color>Je suis un super Titre</h1>
      <form><label>Ca marche super bien<input type="checkbox" ng-model="colorCheckBox"></label><br/>
      <label>Une autre couleur ?<input type="text" ng-model="customColor"></label>
      </form>
    </div>
    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>

      (function(){

          angular.module('angular_test', [])
            .directive('dynamicColor', function() {
              return {
                restric: 'A',
                link: function(scope, element, attributes) {
                   scope.$watch("colorCheckBox", function(checked) {
                      if (checked) {
                          angular.element(document).find("h1").css({
                            color: "firebrick"
                          });
                      }
                      else {
                          angular.element(document).find("h1").css({
                            color: "black"
                          });
                      }

                   });

                   scope.$watch("customColor", function(newColor) {
                          element.css({
                            color: newColor
                          });

                   });
                }
              };
            });

          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();

    </script>
  </body>
</html>
