<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Évènements : Exercice 3</title>
    <script>
      //Enoncé
      /* Les évènements*/
      /**************************************************************************************************
       On peut également surveiller plusieurs propriétés d'un scope en même temps en utilisant la méthode .$watchGroup() d'un objet scope.

        La documentation officielle concernant l'objet scope est disponible ici dans la documentation : https://docs.angularjs.org/api/ng/type/$rootScope.Scope
      **************************************************************************************************/
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice3. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. En adoptant une démarche similaire à celle des exercices précédents, créez un formulaire avec 3 checkbox (cases à cocher). Si les 3 cases à cocher sont cochées, changez le titre h4. Attention, la méthode .$watchGroup() prend en argument un tableau de nom de propriétés et la fonction exécutée se voit transmettre le tableau des nouvelles valeurs et le tableau des anciennes.
      */
    </script>
  </head>
  <body>
    <div parfums>
      <h4>{{parfumsController.title}}</h4>
      <form>
        <INPUT type="checkbox" ng-model="parfumVanille" >vanille<br/>
        <INPUT type="checkbox" ng-model="parfumChocolat">chocolat<br/>
        <INPUT type="checkbox" ng-model="parfumPistache">pistache
      </form>
    </div>

    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>
      (function(){

          angular.module('angular_test', []).directive('parfums', function(){
            return {
               restrict: 'A',
               controllerAs: "parfumsController",
               controller: function() {
                  this.title = "Parfums de glace";
               },
               link: function(scope, element, attributes) {

                  scope.$watchGroup(["parfumVanille", "parfumChocolat", "parfumPistache"],
                    function(checkboxes) {
                        if(checkboxes[0] && checkboxes[1] && checkboxes[2]){
                          scope.parfumsController.title ="tous les parfums a la fois!";
                        }
                  });
               }
            };
          });

          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();

    </script>
  </body>
</html>
