<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Évènements : Exercice 2</title>
    <script>
      //Enoncé
      /* Les évènements*/
      /**************************************************************************************************
        En utilisant les directives, nous pouvons faire en sorte que des modifications de propriétés d'un scope considéré entraînent le déclenchement de fonctions qui modifient d'autres propriétés du même scope.

        La documentation officielle concernant l'objet scope est disponible ici dans la documentation : https://docs.angularjs.org/api/ng/type/$rootScope.Scope
      **************************************************************************************************/
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice2. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Refaîtes le même exercice que précédemment mais initialisez vos variables à l'aide d'un contrôleur. Attention, les propriétés d'un contrôleur ne sont pas rattachées directement à votre objet scope mais à une de ses propriétés...
      */
    </script>
  </head>
  <body>
    <div pwetpwet>
      <h4>{{formController.title}}</h4>
      <form >
          <input type="text" ng-model="formInput"/>
      </form>
    </div>

    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>
      (function(){

          var monModule = angular.module('angular_test', []).directive('pwetpwet', function(){
            return {
               restrict: 'A',
               controllerAs: "formController",
               controller: function() {
                  this.title = "titre du formulaire";
               },
               link: function(scope, element, attributes) {

                  scope.$watch("formInput", function(string) {
                      if(string == "pwetpwet")
                          scope.formController.title = "pwetpwet";
                  });
               }
            };
          });

          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();

    </script>
  </body>
</html>
