<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Évènements : Exercice 6</title>
    <script>
      //Enoncé
      /* Les évènements*/
      /**************************************************************************************************
        Utilisons l'objet jQlite fourni par AngularJS à l'exécution de la méthode link d'une directive. Cet objet, comme jQuery dispose d'une méthode .on() qui permet d'associer des évènements du DOM à un élément portant une directive. Cet objet est définit ici : https://docs.angularjs.org/api/ng/function/angular.element
      **************************************************************************************************/
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice6. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Vous devez faire en sorte qu'en survolant un élément HTML de votre document Web portant une directive, une expression soit modifiée.
        - Vous devez utiliser l'objet jQlite pour déclencher une fonction au survol de votre élément et dans cette fonction utiliser votre objet scope pour modifier la valeur d'une expression.
      */

      /*
        3. Même principe mais cette fois ci, l'expression à modifier sera utilisée dans une directive ng-show. Si je survole un titre h4, une div de contenu s'affiche. Sinon elle se masque.
      */
    </script>
    <style>

    h1 {
      text-align: center;
    }

     .basicRed {
          height: 150px;
          background-color: rgba(255, 0, 0, 0.3);
      }

      .basicGreen {
          height: 150px;
          background-color: rgba(0, 255, 0, 0.3);
      }

      .basicBlue {
          height: 150px;
          background-color: rgba(0, 0, 255, 0.3);
      }

      .divHover {
        background-color: blue;
      }

      .divFadeOut {
        background-color: rgba(0, 255, 0, 0);
        transition: background-color 0.3s ease-in;
      }

      .divFadeIn {
        background-color: rgba(0, 255, 0, 0.3);
        transition: background-color 0.3s ease-in;
      }

    </style>
  </head>
  <body>
    <div first-directive class='basicRed'>
      <h1>{{firstDir.title}}</h1>
    </div>
    <div second-directive class='basicGreen'>
      <h1>{{secondDir.title}}</h1>
    </div>
    <div third-directive class='basicBlue'>
      <h1>{{thirdDir.title}}</h1>
    </div>
    <script src="../angular-1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script>

      (function(){

          angular.module('angular_test', [])
            .directive("firstDirective", function() {
              return {
                  restrict: 'A',
                  controllerAs: 'firstDir',
                  controller: function() {
                        this.title="aaaaaaaa";
                  },
                  link: function(scope, element, attributes) {

                     element.on("mouseover", function(){

                      console.log(scope.firstDir.title);

                          scope.firstDir.title = "Premiere Directive";
                          element.addClass('divHover');

                     }).on("mouseleave", function() {
                          element.removeClass('divHover');
                     });


                  }
              };

            })

            .directive("secondDirective", function() {
              return {
                  restrict: 'A',
                  link: function(scope, element, attributes) {

                     element.on("mouseover", function(){
                          element.removeClass('divFadeIn').addClass('divFadeOut');
                     }).on("mouseleave", function() {
                          element.removeClass('divFadeOut').addClass('divFadeIn');
                     });


                  }
              };

            });



          angular.bootstrap(window.document, ['angular_test'], {strictDi: true});
      })();

    </script>
  </body>
</html>
