<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../angular.min.js"></script>
</head>

<body ng-app="app", ng-controller="myController">
    <div ng-init="chose">

        <div>
            <nav ng-click="$event.preventDefault()">
                <a href="#" ng-click="chose='Home'">Home</a>
                <a href="#" ng-click="chose='Project'">Project</a>
                <a href="#" ng-click="chose='Service'">Service</a>
                <a href="#" ng-click="chose='Contact'">Contact</a>
            </nav>
        </div>
        <div>
            <p ng-hide="chose">Please chose</p>
            <p ng-show="chose">You chose : {{chose}}</p>
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>