body{
    background-color: aquamarine;
}
.bandeau{
    width: 1000px;
    height: 100px;
    background-color: cornflowerblue;
    margin: -8px 90px 12px 200px; 
}
.titre{
    color: chocolate;
    font-size: 80px;
    margin-top: 0px;
    text-align: center;
    font-family: monospace;
}
.fond_para{
    background-color: aliceblue;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 100px;
    left: 208px;
    margin-right: 10px;
}
.rond{
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
    border-radius: 400px;
    margin: -300px 50px 100px -200px;
}
li{
    color: white;
    list-style: none;
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-left: 100px;
}
li:active{
    color: red;
}
ul{
    position: absolute;
    margin-left: 60px;
    margin-top: 200px;
}
.texte_prin{
    width: 95%;
    margin-left: 10px;
}