doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title page01
    |     
    link(rel='stylesheet', href='style.css')
  body  
    h1 Le premier titre
    h2 Le second titre
    h3 le troisième titre