
.div1 {
    width: 30%;
    height: 700px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 1%;
    margin-bottom: 0px;
    margin-left: 1%;
    border-radius: 40px;
    border-color: darkred;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    background-image: url(610776.png);
    background-position: bottom;
    
}
.div2 {
    width: 30%;
    height: 700px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 1%;
    margin-bottom: 0px;
    margin-left: 34%;
    border-radius: 40px;
    border-color: darkred;
    border-width: 5px;
    border-style: solid;
    position: absolute;
}
.div3 {
    width: 30%;
    height: 700px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 1%;
    margin-bottom: 0px;
    margin-left: 67%;
    border-radius: 40px;
    border-color: darkred;
    border-width: 5px;
    border-style: solid;
    position: absolute;
}

